- content_for :presearch_sidebar do
  %p.regular_text 
    This regional pinball map is maintained with the massive help of
    =link_to 'Twin Cities Pinball', 'http://twincitiespinball.blogspot.com/', :class => 'light_blue', :target => '_blank'
= render :file => 'pages/region'
