- content_for :presearch_sidebar do
  %p
    To keep up on all the current Minnesota Pinball news, locations, events, upcoming games and more, please join our public Facebook group,
    =link_to 'Minnesota Pinball - The "Pin Cities"', 'https://www.facebook.com/groups/minnesotapinball/', :target => '_blank'
= render :file => 'pages/region'
