!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = simple_format(@heading)
    - @comments.each do |comment|
      %p 
        = simple_format(comment)
      