!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here are the edits made to your pinball machines yesterday on Pinball Map. We hope this helps you identify and fix problems.
    %p
      You opted in to receive these emails, but if you don't want them anymore, reply to this message and tell us! Also, see our FAQ: https://pinballmap.com/faq#operators
    %h3
      Machine Comments
    - @machine_comments.each do |subs|
      %p
        = subs
    %h3
      Machines Added
    - @machines_added.each do |subs|
      %p
        = subs
    %h3
      Machines Removed
    - @machines_removed.each do |subs|
      %p
        = subs

