%div.bold.font20.center.p_10.brightpurple
  Machine Comments
%div[lmx, :machineconditions_container]
  %div[lmx, :show_conditions]
    - if lmx.sorted_machine_conditions.empty?
      %div.grey.center No machine comments yet
    - else
      = render :partial => 'locations/render_machine_conditions', :locals => {:conditions => lmx.sorted_machine_conditions, :lmx => lmx}
