%div[lmx, :machineconditions_container]{:style => "display:#{lmx.sorted_machine_conditions.empty? ? 'none' : 'block'}"}
  = banner('show_conditions_lmx','SHOW PAST CONDITIONS',lmx)
  %div[lmx, :show_conditions]{:style => 'display:none'}
    = render :partial => 'locations/render_machine_conditions', :locals => {:conditions => lmx.sorted_machine_conditions, :lmx => lmx}
