.left_column
  %span.yellowb New York City Pinball Links:
  %br/
  %br/
  %span.regular_text Visit
  =link_to 'Pinball NYC', 'http://www.pinballnyc.com/', :class => 'light_blue', :target => '_blank'
  %span.regular_text for league news, events, and more.
  %br/
  %br/
  = link_to 'Reciprocal Skateboards', "http://reciprocalnyc.com/", :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/pinballnyc', :target => '_blank'
  =link_to 'NYC Pinball Twitter', 'http://www.twitter.com/pinballnyc', :class => 'light_blue', :target => '_blank'
  %br/
.right_column.secondary
  =link_to image_tag('nyc/pinballnyc-white.png'), 'http://www.pinballnyc.com/', :target => '_blank'