- content_for :presearch_sidebar do
  = image_tag 'nyc/pinballnyc.png', :style => 'margin-left:15%;'
  %p 
    Visit
    =link_to 'Pinball NYC', 'http://www.pinballnyc.com/', :target => '_blank'
    for league news, events, and more.
    %br/
    %br/
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/pinballnyc', :target => '_blank'
    =link_to 'NYC Pinball Twitter', 'http://www.twitter.com/pinballnyc', :target => '_blank'
= render :file => 'pages/region'
