.left_column
  %p.yellowb
    Links:
    %br/
    %br/
    = link_to 'LA Pinball Twitter', 'http://www.twitter.com/la_pinball', :class => 'light_blue', :target => '_blank'
    %br/
    %br/
    = link_to 'Pins N Needles', 'http://www.pinsandneedlesla.com', :class => 'light_blue', :target => '_blank'
    
   
