- content_for :presearch_sidebar do
  %p.local_logo
    =image_tag 'la/la_pinball.jpg'
    %br/
    %br/
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/la_pinball', :target => '_blank'
    =link_to 'Follow @la_pinball on Twitter for map updates and news', 'http://www.twitter.com/la_pinball', :target => '_blank'
= render :template => 'pages/region'
