- content_for :presearch_sidebar do
  =image_tag 'la/la_pinball.jpg', :style => 'margin-left:20%;', :class => 'intro_image'
  %p.regular_text
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/la_pinball', :target => '_blank'
    =link_to 'Follow us on twitter for map updates and news', 'http://www.twitter.com/la_pinball', :class => 'light_blue', :target => '_blank'
= render :file => 'pages/region'