#page_body
  .left_column
    %p.yellowb Toronto Pinball Links:
    =link_to 'Toronto Pinball League', 'http://www.topl.org/', :class => 'light_blue', :target => '_blank'
    %br/
    %span.regular_text The Toronto Pinball League is active in Toronto and the Greater Toronto Area. 
  .right_column.secondary
    =link_to image_tag('toronto/topl-logo.gif'), 'http://www.topl.org/', :alt => 'Duke City Pinball', :target => '_blank'
