.left_column
  %span.yellowb Albuquerque Pinball Links:
  %br/
  %br/
  %span.regular_text Visit
  =link_to 'Duke City Pinball', 'http://www.dukecitypinball.blogspot.com/', :class => 'light_blue', :target => '_blank'
  %br/
.right_column.secondary
  =link_to image_tag('/assets/albuquerque/dukecitypinball-logo.png'), 'http://www.dukecitypinball.blogspot.com/', :alt => 'Duke City Pinball', :target => '_blank'
