- content_for :presearch_sidebar do
  %span{:style => 'margin-left:6%;'}
    = image_tag '/assets/albuquerque/dukecitypinball-logo.png'
  %br/
  %p.regular_text 
    This regional map is maintained with the help of
    =link_to 'Duke City Pinball', 'http://www.dukecitypinball.blogspot.com/', :class => 'light_blue', :target => '_blank'
= render :file => 'pages/region'
