- content_for :presearch_sidebar do
  %p.local_logo
    =link_to image_tag('albuquerque/dukecitypinball-logo.png'), 'http://www.dukecitypinball.blogspot.com/', :target => '_blank'
    %br/
    %br/
    The Albuquerque Pinball Map is maintained with the help of
    =link_to 'Duke City Pinball', 'http://www.dukecitypinball.blogspot.com/', :target => '_blank'
= render :file => 'pages/region'
