* {
  outline: none;
}

img {
  border:0;
}

h1 {
  font-size: 36px;
}

li {
  padding: 2px 0 4px 10px;
}

a {
  color: white;
  text-decoration: none;
  border: 0;
}

li a:hover {
  text-decoration: underline;
}

.text_column a:hover, #left_column a:hover {
  text-decoration: underline;
}

.text_column_portland {
  width: 440px;
  }

a.apps_link {
  text-decoration: underline;
}

a:active { outline: none }

body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#page {
  padding: 25px;
}

#map {
  margin-left:350px;
  padding-left: 40px;
  height: 500px;
  width: 600px;
  margin-top: 20px;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#lookup {
  float: left;
  width: 375px;
  margin-top: 10px;
}

.search_result ul {
  border-left: 8px solid #A9BEFF;
  padding-left: 10px;
  border-radius:2px 0 0 0;
  -moz-border-radius:2px 0 0 0;
  -webkit-border-radius:2px 0 0 0;
}

#search_results {
  color: #ffffff;
}

#search_results li {
  list-style-type: none;
  font-weight: bold;
}

.location_name {
  border-bottom: 1px solid #494949;
}

.portland_region_image {
  margin-left: 30px;
  border: 1px solid #FFEEDD;
}

.name {
  font-size:13px;
  height:12px;
  color:black;
  width:260px;
  background-color:#FFEEDD;
  padding-top:2px;
  padding-bottom: 4px;
  margin-bottom:3px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

.address {
  font-size: 12px;
}

.machine_names {
  color: #ffffff;
  font-size: 14px;
}

.address_name {
  color: #FFEEDD;
  font-size: 12px;
}

.machine_name {
  font-weight: bold;
  float: left;
  color: #FFEEDD;
  font-size: 14px;
}

.machine_lmx {
  color: #FFEEDD;
  font-size: 12px;
  padding: 5px 0 5px 0;
}

.machine_condition_display_lmx {
  color: #cccccc;
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  line-height: 125%;
}

.button_to {
  float:right;
}

.remove_machine_button {
  background-color:#000000;
  border: 1px solid #494949;
  color: #494949; 
  cursor: pointer;
  padding: 0 2px 1px 2px; 
}

.remove_machine_button:hover {
  border: 1px solid #cccccc;
  color: #cccccc;
}

.pick_a_map {
  margin-bottom: -20px;
  color: #ffffcc;
}

.landing_logo {
  margin-left: 5px;
}

.region_logo {
  float:left;
  position: absolute;
  left: 5px;
  top: 15px;
}

img.header_image {
  margin-left: 30px;
}

.black_text {
	color:#000000;
}

.machine_title {
	margin-top: 20px;
}

br.clear {
	margin-top: 10px;
}

.sub_nav_item {
  border-bottom:1px solid #494949;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  height: 100%;
  width: 280px;
  padding: 3px 0 1px 0;
  color: #cccccc;
}

.sub_nav_item:hover {
  color: #ffffff;
}

.search_result {
  height: 100%;
  width: 240px;
  padding-bottom: 10px;
}

#welcome {
  float: left;
  width: 220px;
  padding-top: 5px;
  padding-right: 30px;
}

#map_summaries {
  float: left;
  padding-top: 20px;
}

.map_summary {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
}

.map_summary_info {
  padding-left: 10px;
}

.infowindow {
  color: black;
}

.infowindow hr {
  width: 50px;
}

.scrollerWrapper {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerScroller {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerNext, .scrollerPrev {
  padding: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  display: none;
  background: #aaaaaa url(/images/arrow_prev.png) no-repeat center center;
  cursor: pointer;
  cursor: hand;

  border: solid 1px #444444;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -border-radius: 8px;
}

.scrollerNext {
  display: block;
  background: #aaaaaa url(/images/arrow_next.png) no-repeat center center;
}

.itemBackground , .itemLink {
  display: none;
}

.info {
  display: block;
  padding-top: 2px;
  font-style: italic;
  color: #999;
}

.search, .submit_button {
  border: 1px solid #494949;
  color: black;
  background-color: #FED;
  text-transform: uppercase;
  padding: 1px 2px 1px 2px;
  display: block;
  margin: 3px 10px 3px 0;
  cursor: pointer;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.save_button, .cancel_button, #add_score, #add, #location_picture_xref_submit {
  border: 1px solid #494949;
  color: black;
  background-color: #FED;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  display: block;
  margin: 3px 10px 3px 0;
  cursor: pointer;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

input.search:hover, input#add:hover, input#location_picture_xref_submit:hover, input.submit_button:hover,
.save_button:hover, .cancel_button:hover, #add_score:hover {
  background-color:#c55929;
  color:white;
}

input.ui-autocomplete-input, input#add_machine_by_, input#location_picture_xref_photo, button#file_chooser_button, 
input#location_name, input#location_street, input#location_city, input#location_state, input#location_zip, 
input#location_phone, input#location_website, textarea#location_machines, input#submitter_name, input#submitter_email, input#contact_name, input#contact_email, 
textarea#contact_msg, .edit_mode, input#score, input#initials {
  background-color:#f8f9e5;
  border:1px solid #c55929;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  width:200px;
  margin: 4px 0;
}

.edit_mode {
  background-color: #FFFFCC;
}

#rank {
  margin-left:6px;
}

input#score {
  margin-left:3px;
}

.search_banner {
  font-size: 11px;
  text-transform: uppercase;
  text-align:center;
  display: block;
  border: 1px solid gray;
  width: 360px;
  height: 15px;
  margin: 8px 0;
  padding: 4px 0 0 0;
  font-weight: normal;
  color: white;
  background-color:#5e5b4d;
  vertical-align: top;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

#other_search_options_link {
  font-size:11px;
  text-align:center;
  background: #000;
  padding: 2px 10px 3px 10px;
  border: 1px solid gray;
  border-bottom-style:none;
  border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
  -webkit-border-radius:3px 3px 0 0;
  width:250px;
  height:6px;
  margin-left:200px;
  position: relative;
  top: 5px;
  transition: padding 250ms ease-out;
  -moz-transition: padding 250ms ease-ou; /* Firefox 4 */
  -webkit-transition: padding 250ms ease-ou; /* Safari and Chrome */
  -o-transition: padding 250ms ease-ou; /* Opera */
}

#other_search_options_link:hover
{
  background-color:#FFEEDD;
  color:black;
}

.arrow {
  float: right;
  border: 1px solid #cccccc;
  height: 11px;
  width: 11px;
}

.arrow:hover {
  border-color: #ffffff;
}

.search_results_header {
  margin: 20px 0 5px 13px;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
}

.location_link {
  color: #999;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid #494949;
  padding: 2px 2px 1px 2px;
  float: right;
  height: 10px;
}

.location_link:hover {
  color: #cccccc;
  border: 1px solid #cccccc;
}

#by_type_id, #by_operator_id, #by_location_id, #by_machine_id, #by_zone_id, #by_city_id {
	margin-top:3px;
	margin-bottom:3px;
	width:360px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.none {
  float: none;
}

#header {
  margin-top: -20px;
}

#header li {
  list-style-type: none;
  margin-left: 5px;
  font-weight: bold;
  position: relative;
  display: inline;
}

#header a img {
  float: left;
  border:0;
}

#header ul {
  padding-top: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  line-height: 150%;
  width: 450px;
  margin-left: 480px;
}

#header li:hover ul, li.over ul { display: block; }

#header li ul {
  display: none;
  position: absolute;
  top: 14px;
  right: 0;
  list-style: none;
  width:100px;
  padding: 5px;
  border-right: 1px solid #ffffff;
  background: #000000;
  z-index:100;
}

.subpage_text {
  font-size:14px;
  letter-spacing: .3px;
}

a.light_blue:link {color: #cccccc; background: #000000;}
a.light_blue:visited {color: #cccccc;}
a.light_blue:hover {background: #000000; color: #ffffff; text-decoration: underline}
a.light_blue:active {background: #000000;}

.pink {
  color:#ffcc00;
  font-size:14px;
  font-weight:bold;
}

.intro {
  font-size: 14px;
  font-weight: bold;
}

.regular_text, .light_blue {
  font-size:14px;
}

.intro_image {
  padding: 4px;
}

.stufflike {
  font-size: 14px;
  font-weight:bold;
}

.yellow {
  color:#ffffcc;
  font-size:14px;
}

.yellowb {
  color:#ffffcc;
  font-size:14px;
  font-weight:bold;
}

#leftcol, #left_column, .left_column {
  width:400px;
  float:left;
  padding:1em;
}

#right_column, .right_column {
  float: none;
  width:500px;
  margin-left:450px;
  padding:1em;
}

.high_roller_right_column {
  float:right;
  width:400px;
  margin-left:550px;
  padding:1em;
}

.pic {
  padding: 5px;
}

.weekly_text {
  font-size: 14px;
  list-style-position: inside;
  font-weight: normal;
  padding: 0 0 0 10px;
}

.score_result {
  width: 100%;
}

#results_container {
  color:#cccccc;
  background-color:black;
  width:370px;
  height:370px;
  border:1px solid;
  border-radius:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-box-shadow: 0 0 30px #666666; 
  -moz-box-shadow: 0 0 30px #666666; 
  /* Safari */
  box-shadow: 0 0 30px #666666;
}

.scroll_pane {
  height: 360px;
  width: 340px;
  padding-left: 20px;
}

.location_summary_image_mouseover {
  background-image: url('/images/coincard.png');
  background-repeat: no-repeat;
  background-position: center;
}

.search_option_selector a {
  color: #000;
  padding-right: 10px;
}

.delete_button {
  border: 1px solid #494949;
  background-color: black;
  color: #494949;
  cursor: pointer;
  padding: 0 1px;
  margin-left: 5px;
}

.show_machines_location {
  width: 280px;
}

.lookup_search_input {
  width: 275px;
}

.lookup_search_select {
  width: 280px;
}

#file_chooser_button {
  padding-left: 10px;
  width: 90px;
}

.location_detail {
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  height: 100%;
  width: 280px;
  padding: 3px 10px 3px 0;
}

.location_description {
  font-style: italic;
  color: #cccccc;
  padding-left: 10px;
  padding-top: 5px;
}

.desc_show_location {
  padding-top: 5px;
  padding-bottom: 5px;
}

.text_col, .text_column {
  float: left;
  padding: 1em;
  width: 420px;

}

.photo_image {
  border-color: white;
  border-width: 6px;
  border-style: solid;
}

.photo_caption {
  font-style: italic;
}

.blue_header {
  color: #A9BEFF;
  font-size: 14px;
}

.tourney_info {
  font-size: 14px;
  list-style-position: inside;
  margin-left: 10px;
  color: #FFC;
}

.tourney_description {
  font-size: 12px;
  font-weight: normal;
  color: white;
}

.tourney_link {
  color: #FFC;
  background: black;
}

#findapinball {
  text-align: center;
  font-size: 16px;
}
