* {
  outline: none;
}

h1 {
  font-size: 36px;
}

li {
  padding: 2px 0 4px 10px;
}

a {
  color: white;
  text-decoration: none;
  border: 0;
}

a:active { outline: none }

body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#page {
  padding: 25px;
}

#map {
  float: left;
  padding-left: 40px;
  height: 500px;
  width: 600px;
  margin-top: 20px;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#lookup {
  float: left;
  width: 375px;
  margin-top: 20px;
}

.search_result ul {
  border-left: 8px solid #A9BEFF;
  padding-left: 10px;
}

#search_results {
  color: #ffffff;
}

#search_results li {
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
}

.location_name {
  border-bottom: 1px solid #494949;
}

.sub_nav_item {
  border-bottom:1px solid #494949;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  height: 100%;
  width: 240px;
  padding: 3px 10px 3px 0;
}

.search_result {
  height: 100%;
  width: 240px;
  padding-bottom: 50px;
}

#welcome {
  float: left;
  width: 220px;
  padding-top: 20px;
  padding-right: 30px;
}

#map_summaries {
  float: left;
  padding-top: 20px;
}

.map_summary {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
}

.map_summary_info {
  float: left;
}

.infowindow {
  color: black;
}

.infowindow hr {
  width: 50px;
}

.scrollerWrapper {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerScroller {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerNext, .scrollerPrev {
  padding: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  display: none;
  background: #aaaaaa url(/images/arrow_prev.png) no-repeat center center;
  cursor: pointer;
  cursor: hand;

  border: solid 1px #444444;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -border-radius: 8px;
}

.scrollerNext {
  display: block;
  background: #aaaaaa url(/images/arrow_next.png) no-repeat center center;
}

.itemBackground , .itemLink {
  display: none;
}

.info {
  display: block;
  padding-top: 10px;
  font-style: italic;
  color: #999;
}

.search {
  border: 1px solid #494949;
  color: black;
  background-color: #FED;
  text-transform: uppercase;
  padding: 4px 3px 2px 3px;
  display: block;
  margin: 0 10px 15px 0;
  cursor: pointer;
}

.search_banner {
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 280px;
  height: 13px;
  font-weight: normal;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  vertical-align: top;
}

.arrow {
  float: right;
  border: 1px solid white;
}

.search_results_header {
  margin: 20px 0 5px 13px;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
}

.location_link {
  color: #999;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  border-color: #494949;
  border-width: 1px;
  border-style: solid;
  padding: 2px 2px 1px 2px;
  float: right;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.none {
  float: none;
}

#header li {
  list-style-type: none;
  margin-left: 5px;
  font-weight: bold;
  position: relative;
  display: inline;
}

#header a img {
  float: left;
}

#header ul {
  float: left;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  line-height: 130%;
  margin-top: 0px;
}

#header li:hover ul, li.over ul { display: block; }

#header li ul {
  display: none;
  position: absolute;
  top: 1em;
  right: 0;
  list-style: none;
  width:100px;
  padding: 5px;
  border-right: 1px solid #ffffff;
  background: #000000;
  z-index:100;
}

.subpage-text {
  font-size:14px;
  letter-spacing: .3px;
}

a.light-blue:link {color: #A9BEFF; background: #000000;}
a.light-blue:visited {color: #A9BEFF;}
a.light-blue:hover {background: #000000; color: #ffffcc;}
a.light-blue:active {background: #000000;}

.pink {
  color:#ffcc00;
  font-size:14px;
  font-weight:bold;
}

.intro {
  font-size: 14px;
  font-weight: bold;
}

.stufflike {
  font-size: 14px;
}

.yellow {
  color:#ffffcc;
  font-size:14px;
}

.yellowb {
  color:#ffffcc;
  font-size:14px;
  font-weight:bold;
}

#leftcol {
  width:400px;
  float:left;
  padding:1em;
}

#rightcol {
  float: none;
  width:500px;
  margin-left:490px;
  padding:1em;
}

.pic {
  padding: 3px 3px 3px 3px;
}

.weekly-text {
  font-size: 14px;
  list-style-position: inside;
  font-weight: normal;
  padding: 0 0 0 10px;
}

.score_result {
  width: 100%;
}

#results_container {
  color:white;
  background-color:black;
  width:380px;
  height:370px;
  border:0 solid;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -webkit-box-shadow: 5px 5px 8px #666666; 
  -moz-box-shadow: 5px 5px 8px #666666; 
  /* Safari */
  box-shadow: 5px 5px 8px #666666;
}

.scroll_pane {
  height: 330px;
  width: 340px;
  padding-left: 20px;
}

.location_summary_image_mouseover {
  background-image: url('/images/coincard.png');
  background-repeat: no-repeat;
  background-position: center;
}

.search_option_selector a {
  color: #000;
  padding-right: 10px;
}

.edit_mode {
  background-color: #A9BEFF;
}

.delete_button {
  border: 1px solid #494949;
  background-color: black;
  color: #494949;
  cursor: pointer;
  padding: 0 1px;
  margin-left: 5px;
}

.machine_name {
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.lookup_search_input {
  width: 275px;
}

.lookup_search_select {
  width: 280px;
}

#file_chooser_button {
  padding-left: 10px;
  width: 90px;
}

.machine_lmx {
  padding-bottom: 30px;
}

.location_detail {
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  height: 100%;
  width: 240px;
  padding: 3px 10px 3px 0;
}
