* {
  float: left;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#map {
  padding-left: 40px;
  height: 500px;
  width: 600px;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#lookup {
  width: 375px;
}

.search_results_header {
  margin: 10px 0 5px 13px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.search_result ul {
  border-left: 8px solid #A9BEFF;
  padding-left: 10px;
}

#search_results li {
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
}

.location_name {
  border-bottom: 1px solid #494949;
}

.sub_nav_item {
  font-size: 10px;
  display: block;
  width: 240px;
  font-weight: normal;
  color: #999999;
  padding: 3px 10px 3px 0;
  cursor: pointer;
}

.search_result {
  height: 100%;
}

#welcome {
  width: 220px;
}

#map_summaries {
  width: 500px;
}

.infowindow {
  color: black;
}

.infowindow hr {
  width: 50px;
}

.scrollerWrapper {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerScroller {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.scrollerNext, .scrollerPrev {
  padding: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  display: none;
  background: #aaaaaa url(/images/arrow_prev.png) no-repeat center center;
  cursor: pointer;
  cursor: hand;

  border: solid 1px #444444;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -border-radius: 8px;
}

.scrollerNext {
  display: block;
  background: #aaaaaa url(/images/arrow_next.png) no-repeat center center;
}

.itemBackground , .itemLink {
  display: none;
}
