#page_body  
  .left_column
    %p.regular_text
      %span.yellow pinballmap.com/portland
      is here for you, proud pinball players of Portland, Oregon.
    %p.regular_text 
      Previously, we (and maybe also you) were using a google map to keep track of all the machines in town. This google map was good to us; it had a lot of info, and a lot of people viewed it and contributed to it. For a time we thought it was all we'd ever need. But as is typical of users, we began to grow older, and as we did we were curious to discover that our yearnings in life had become more complex and demanding.  In matters of pinball maps, these yearnings can be summarized as such: More searching, less aimless browsing.  So with this in our hearts, and with a couple of cats by our sides, we caught ourselves up to where we are today - right here.
    =image_tag 'cleo.png', :class => 'pic right'
    %p.regular_text
      Thank you 
      =link_to 'Drew Marshall', 'http://workbydrew.com', :target => '_blank'
      for some cool art. And thanks very much to everyone right now who is helping to keep this data fresh!
    %p.regular_text
      This site was created by
      =link_to 'Scott Wainstock', 'http://scottwainstock.com', :target => '_blank'
      and
      =link_to 'Ryan Gratzer.', 'http://blueskiesabove.us', :target => '_blank'
      =link_to 'Contact us.', contact_path
  #right_column
    %p.yellow{:style => 'width: 400px'} News
    =image_tag 'PPM-Splash-200.png', :class => 'pic right'
    %p.regular_text{:style => 'width: 280px'}
      =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/portlandpinball', :target => '_blank'
      =link_to 'Follow us on twitter.', 'http://www.twitter.com/portlandpinball', :target => '_blank'
      Location updates are fed to it. Plus special messages from ours truly.
    %p.regular_text{:style => 'width: 280px'}
      =link_to image_tag('facebook-icon.png'), 'http://www.facebook.com/pages/Portland-Pinball-Map/325342299795'
      =link_to 'Become a liker of the Portland Pinball Map on Facebook.', 'http://www.facebook.com/pages/Portland-Pinball-Map/325342299795', :target => '_blank'
    %p.regular_text{:style => 'width: 280px'}
      Additionally, we are working on some features for the site. As always, we appreciate feedback and suggestions.
    %p.yellow{:style => 'margin-top:20px;'} Recent site updates
    %ul.stufflike
      %li 
        =link_to 'iPhone and Android apps!', 'apps'
      %li Comment on locations (with hours and stuff)
      %li Upload photos
      %li Permalinks for locations
      %li New regions added (MANY of them. Thanks for your support!)
      %li Machine names link to IPDB
      %li More search options! Such as limiting results to places with 4 or more machines.
