#left_column
  %p.subpage_text
    %span.yellow PortlandPinballMap.com
    &nbsp;is here for you, proud pinball players of Portland, Oregon.
  %p.subpage_text 
    Previously, we (and maybe also you) were using a google map to keep track of all the machines in town. This google map was good to us; it had a lot of info, and a lot of people viewed it and contributed to it. For a time we thought it was all we'd ever need. But as is typical of users, we began to grow older, and as we did we were curious to discover that our yearnings in life had become more complex and demanding.  In matters of pinball maps, these yearnings can be summarized as such: More searching, less aimless browsing.  So with this in our hearts, and with a couple of cats by our sides, we caught ourselves up to where we are today - right here.
  =image_tag 'cleo.png', :class => 'pic right'
  %p.subpage_text.none 
    %span Thank you 
    =link_to 'Drew Marshall', 'http://workbydrew.com', :class => 'light_blue', :target => '_blank'
    and all the pinballers who added data to the original map to help keep it up to date. Plus, thanks very much to everyone right now who is helping to keep this data fresh!
  %p.subpage_text
    %span This site was created by&nbsp;
    =link_to 'Scott Wainstock', 'http://scottwainstock.com', :class => 'light_blue', :target => '_blank'
    %span &nbsp;and&nbsp;
    =link_to 'Ryan Gratzer.', 'http://blueskiesabove.us', :class => 'light_blue', :target => '_blank'
    =link_to 'Contact us.', contact_path
#right_column
  %p.yellowb{:style => 'width: 400px'} News
  =image_tag 'PPM-Splash-200.png', :class => 'pic right'
  %p.subpage_text{:style => 'width: 280px'}
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/portlandpinball', :target => '_blank'
    =link_to 'Follow us on twitter.', 'http://www.twitter.com/portlandpinball', :class => 'light_blue', :target => '_blank'
    %span Location updates are fed to it. Plus special messages from ours truly.
  %p.subpage_text{:style => 'width: 280px'}
    =link_to image_tag('facebook-icon.png'), 'http://www.facebook.com/pages/Portland-Pinball-Map/325342299795'
    =link_to 'Become a liker of the Portland Pinball Map on Facebook.', 'http://www.facebook.com/pages/Portland-Pinball-Map/325342299795', :class => 'light_blue', :target => '_blank'
  %p.subpage_text{:style => 'width: 280px'}
    Additionally, we are working on some features for the site. As always, we appreciate feedback and suggestions.
  %p.yellowb{:style => 'width: 280px'} Recent site updates
  %p.subpage_text
    =link_to 'iPhone and Android apps!', 'apps', :class => 'light_blue'
    %br/
    %br/
    %span Photo uploads.
    %br/
    %br/
    Permalinks for locations.
    %br/
    %br/
    New regions added.
    %br/
    %br/
    Machines link to IPDB
    %br/
    %br/
    More search options!
