- content_for :events_extra do
  .left_column.regular_text
    %p
      Let's join together for some pinball activities!
    %p
      Most weeks there are weekly tournaments run in Portland. Check here for the latest updates. And use the 
      = link_to 'CFF message board', 'http://crazyflipperfingers.com/talk2'
      to discuss the matters at hand.
    %p
      Details for most weeklies:
    %ul
      %li Starts at 7pm
      %li $5 entry
      %li 1 on 1, single game match, double elimination
    %p
      These tournaments, while casual and fun, are 
      = link_to 'internationally ranked', 'http://www.pinballrankings.com/'
      ! So, not only can you win money from them (every dime of the entry fees go back to the winners), but you can also get points. Points are rad, by the way.
    %p
      Elsewise, there are occasionally other interesting tournaments in town. We'll list those here, too.
    %p
      %span.yellow Plus what's more!
      There are plenty of non-tournament events going on. One notable one is the monthly ladies league. If you are a lady, and you like pinball, this event is an opportunity to meet up and make friends and stuff! 
      %span.yellow UPDATE! Ladies League is on indefinite hiatus! Maybe because not enough ladies?
    %p.yellowb
      If you have a pinball event that you'd like included on this page, use the contact form on the 
      = link_to 'contact page', 'contact', :class => 'intro'
      to give us the info.
= render :file => 'events/index'
