#page_body
  .column_container
    .column.bg_vlightpurple.w_400
      %p.red.bold.p1 Upcoming Events
      %p== In the early days Pinball Map managed our own events database. But with the rise of the #{link_to "International Flipper Pinball Association", "https://www.ifpapinball.com/calendar/", :target => '_blank'}, we then largely relied on importing IFPA calendar data. For the sake of simplicity, it's now better to simply link to the IFPA calendar.
      %p.font18.bold.pink
        Visit the
        =link_to "IFPA Calendar", "https://www.ifpapinball.com/calendar/", :target => '_blank'
        to find pinball events near you!
