= yield :intro_extra
#intro
  %p.yellow{:style => 'margin-top:0;'}
    Welcome to the #{@region.full_name} Pinball Map!
  %p.regular_text
    %span.yellowb This map is best maintained with the help of YOU.
    Please
    %span.yellowb "add"
    and 
    %span.yellowb "remove"
    machines to/from locations to keep things up to date. And if you know of a location with machines that 
    %span{:style => "font-style:italic;"} isn't on the map,
    use the
    %span.regular_text
      =link_to '"Enter a New Location"', suggest_new_location_path
    link up top!
  %p.regular_text Use the tools at left to do stuff like:
  %ul.list
    %li Update the map!
    %li Check your favorite locations for their latest line-up
    %li Search or browse for machines throughout your town
    %li Search for locations with four or more machines
    %li Comment on a machine's condition
    %li Add photos of locations
    %li Input your high scores
  %p.regular_text 
    We currently are tracking 
    %span.yellow #{@location_count} locations 
    and 
    %span.yellow #{@lmx_count} machines. 
    Backups are made nightly. So if something bad happens, the site can be replenished.
  %p.regular_text
    And be sure to check out the 
    =link_to 'Links page', links_path
    for more pinball resources.
