= yield :intro_extra
#intro
  %p.font28.red.bold
    Welcome to #{@region_fullname} Pinball Map!
  %p
    %span.red.font16.bold This map is best maintained with your help!
    Please
    %span.red.font16.bold add
    and
    %span.red.font16.bold remove
    machines to/from locations to keep things up to date. And
    %span
      =link_to 'submit new locations', (defined? @region) ? suggest_path : map_location_suggest_path
    that aren&rsquo;t on the map.
  %p== Check out our #{link_to 'mobile app', app_path}.
