- if (@region)
  %li.menu_header_01=link_to 'Add Location', suggest_path
  %li=link_to 'About', about_path
  %li=link_to 'Contact', about_path
  %li=link_to 'Events', events_path
  %li=link_to 'Map Flier', flier_path
  %li=link_to 'High Scores', high_rollers_path
  %li=link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
  %li=link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
  %li=link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
  %hr/
- if current_page?(regionless_path)
  %li.mobile_hide=link_to 'Add Location', regionless_location_suggest_path  
%li=link_to 'Home', root_path
%li=link_to 'User Profile', current_user.nil? ? inspire_profile_path : profile_user_path(current_user.id)
%li=link_to 'Blog', 'http://blog.pinballmap.com'
%li=link_to 'Store', store_path
%li=link_to 'App', app_path
%li=link_to 'FAQ', faq_path
- if !(@region)
  %li=link_to 'Contact', about_path('portland')
%li
  =link_to 'Donate', donate_path
