#page_body
  .column_container
    .column.bg_vlightpurple.w_640
      %p.red.bold.p1 Recent Activity
      %p.center
        Here's a feed of edits to #{@region_fullname} Pinball Map going back to 2019.
    .clear

    .column.w_640
      = form_tag activity_path, :method => 'get', id: 'activity_filter', :remote => true do
        %input{:type => "checkbox", :id => "filterNewLmx", :name => "filterActivity", :class => "m_0", :value => 'new_lmx'}
        %span.single_hide Machine added
        %input{:type => "checkbox", :id => "filterRemoveMachine", :name => "filterActivity", :class => "m_0", :value => 'remove_machine'}
        %span.single_hide Machine removed
        %input{:type => "checkbox", :id => "filterNewCondition", :name => "filterActivity", :class => "m_0", :value => 'new_condition'}
        %span.single_hide New condition
        %input{:type => "checkbox", :id => "filterNewMsx", :name => "filterActivity", :class => "m_0", :value => 'new_msx'}
        %span.single_hide Score added
        %input{:type => "checkbox", :id => "filterConfirmLocation", :name => "filterActivity", :class => "m_0", :value => 'confirm_location'}
        %span.single_hide Location confirmed
        = submit_tag 'Submit'

    = render partial: 'render_activity'

:javascript
  $('#activity_filter').on('submit', function(e) {
    e.preventDefault();
    activeFilters = []
    $("input:checkbox[name=filterActivity]:checked").each(function () {
      activeFilters.push(this.value);
    });

    $("#activity").html(loadingHTML());

    $.ajax({
      url: '/activity',
      type: 'POST',
      data: {
        submission_type: activeFilters
      },
      success: function(data) {
        $("#activity").html(data);
      }
    });
    return false;
  });