#page_body
  .column_container
    .column.bg_vlightpurple.w_640
      %p.red.bold.p1 Recent Activity
      %p.center
        Here's a feed of edits to #{@region_fullname} Pinball Map going back to 2018/19-ish.
      %p.center
        The scores here will only show your own scores.
    .clear

    .column.w_640.flex_center#activity_filter{:style => "margin: 10px 0;"}
      %button#page_activity_filter_modal_button.filter_button{:type => "button", :onclick => "showActivityFilterModal('page_activity_filter_modal');"}
        %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 20 20", fill: "currentColor", "aria-hidden": "true"}
          %path{d: "M5 1.6c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V10h2V1.6zM3 18.4c0 .551.447.6 1 .6.552 0 1-.049 1-.6V15H3v3.4zM6.399 11h-4.8C1.046 11 1 11.448 1 12v1c0 .553.046 1 .599 1H6.4c.55 0 .6-.447.6-1v-1c0-.552-.05-1-.601-1zm12 1h-4.801c-.552 0-.598.448-.598 1v1c0 .553.046 1 .599 1H18.4c.55 0 .6-.447.6-1v-1c0-.552-.05-1-.601-1zM13 7c0-.552-.05-1-.601-1h-4.8C7.046 6 7 6.448 7 7v1c0 .553.046 1 .599 1H12.4c.55 0 .6-.447.6-1V7zm-2-5.4c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V5h2V1.6zM9 18.4c0 .551.447.6 1 .6.552 0 1-.049 1-.6V10H9v8.4zm8-16.8c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V11h2V1.6zm-2 16.8c0 .551.447.6 1 .6.552 0 1-.049 1-.6V16h-2v2.4z"}
        Filter

    = form_tag activity_path, :method => 'get', id: 'page_activity_filter_form' do
      = render 'shared/activity_filter_modal', modal_id: "page_activity_filter_modal",
        checkbox_name: "filterActivity",
        checkbox_ids: { 'new_lmx' => 'filterNewLmx', 'remove_machine' => 'filterRemoveMachine', 'new_condition' => 'filterNewCondition', 'new_msx' => 'filterNewMsx', 'confirm_location' => 'filterConfirmLocation', 'add_location' => 'filterAddLocation', 'your_activity' => 'filterYourActivity' },
        checked_values: Array(params[:submission_type]),
        show_your_activity: user_signed_in?,
        apply_as_submit: true

    #activity.column.w_640.center
      = render partial: 'shared/activity_item', :locals => {show_location_link: true, page_activity: true}

:javascript
  function syncFilterBtnState(checkbox) {
    $(checkbox).closest('.activity_filter_btn').toggleClass('is-selected', checkbox.checked);
  }
  $('.activity_filter_btn input[type=checkbox]').each(function() {
    syncFilterBtnState(this);
  }).on('change', function() {
    syncFilterBtnState(this);
  });

  window.addEventListener("popstate", function(e) {
    let url = new URL(e.target.location.href)
    let pagenum = ""
    if (url.searchParams.has("page")) {
      pagenum = `?page=${url.searchParams.get("page")}`
    }

    refreshActivityList(url, pagenum, true)
  });

  $('.apply_filters_button').on('click', function(e) {
    e.preventDefault();
    let url = new URL(window.location.href);
    hideActivityFilterModal('page_activity_filter_modal');
    refreshActivityList(url);
  });

  function refreshActivityList(url, pagenum = "", suppressHistory = false) {
    activityFilters = []
    $("input:checkbox[name=filterActivity]:checked").each(function () {
      activityFilters.push(this.value);
    });

    $("#activity").html(loadingHTML());

    $.ajax({
      url: `${url.pathname}${pagenum}`,
      type: 'POST',
      data: {
        submission_type: activityFilters
      },
      success: function(data) {
        $("#activity").html(data);

        if (!suppressHistory) {
          window.history.pushState({"page": pagenum}, "", `${url.pathname}${pagenum}`)
        }
      }
    });
    return false;
  };
