= turbo_stream.append "activity" do
  = render partial: "activity", collection: @pages
= turbo_stream.update "next_link" do
  - if @pagy.next.present?
    = button_to "next", pagy_url_for(@pagy, @pagy.next)