#page_body
  .column_container
    .column.bg_vlightpurple.w_640
      %p.red.bold.p1 Recent Activity
      %p.center
        Here's a feed of edits to #{@region_fullname} Pinball Map going back to 2019.
    .clear

    .column.w_640
      = form_tag activity_path, :method => 'get', id: 'activity_filter' do
        %div
          =image_tag("icons/new_lmx.svg", :alt => "new_lmx", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterNewLmx", :name => "filterActivity", :class => "m_0", :value => 'new_lmx'}
          %div
            %span Machine added
        %div
          =image_tag("icons/remove_machine.svg", :alt => "remove_machine", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterRemoveMachine", :name => "filterActivity", :class => "m_0", :value => 'remove_machine'}
          %div
            %span Machine removed
        %div
          =image_tag("icons/new_condition.svg", :alt => "new_condition", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterNewCondition", :name => "filterActivity", :class => "m_0", :value => 'new_condition'}
          %div
            %span New condition
        %div
          =image_tag("icons/new_msx.svg", :alt => "new_msx", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterNewMsx", :name => "filterActivity", :class => "m_0", :value => 'new_msx'}
          %div
            %span Score added
        %div
          =image_tag("icons/confirm_location.svg", :alt => "confirm_location", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterConfirmLocation", :name => "filterActivity", :class => "m_0", :value => 'confirm_location'}
          %div
            %span Location confirmed
        %div
          =image_tag("icons/add_location.svg", :alt => "add_location", :class => 'recent_activity_icon')
          %input{:type => "checkbox", :id => "filterAddLocation", :name => "filterActivity", :class => "m_0", :value => 'add_location'}
          %div
            %span Location added
        = submit_tag 'Apply Filters', :class => "save_button"

    #activity.column.w_640.center
      = render partial: 'render_activity'

:javascript
  window.addEventListener("popstate", function(e) {
    let url = new URL(e.target.location.href)
    let pagenum = ""
    if (url.searchParams.has("page")) {
      pagenum = `?page=${url.searchParams.get("page")}`
    }

    refreshActivityList(url, pagenum, true)
  });

  $('#activity_filter').on('submit', function(e){
    e.preventDefault()
    let url = new URL(window.location.href)
    refreshActivityList(url)
  });

  function refreshActivityList(url, pagenum = "", supressHistory = false) {
    activityFilters = []
    $("input:checkbox[name=filterActivity]:checked").each(function () {
      activityFilters.push(this.value);
    });

    $("#activity").html(loadingHTML());

    $.ajax({
      url: `${url.pathname}${pagenum}`,
      type: 'POST',
      data: {
        submission_type: activityFilters
      },
      success: function(data) {
        $("#activity").html(data);

        if (!supressHistory) {
          window.history.pushState({"page": pagenum}, "", `${url.pathname}${pagenum}`)
        }
      }
    });
    return false;
  };
