#page_body
  .column_container
    .column.w_320.bg_vlightpurple.center
      %p.app_store
        =link_to image_tag('App_Store.svg', :alt => 'Download on the App Store'), "https://itunes.apple.com/us/app/pinball-map/id359275713?mt=8", :class => 'pic', :target => '_blank'
        =link_to image_tag('google-play-badge.png', :alt => 'Get it on Google Play'), "https://play.google.com/store/apps/details?id=com.pbm&hl=en", :class => 'pic googleplay', :target => '_blank'
    .column.w_560.serif
      %p.red.font18.sans.bold.app_title Pinball Map App
      %p
        Pinball Map app for
        %span.red.font18.sans.bold iOS
        &
        %span.red.font18.sans.bold Android.
        Probably the most popular way to use Pinball Map. The app won the TWIPY award for
        =link_to 'Best Pinball App of 2021.', 'https://blog.pinballmap.com/2022/03/29/2021-TWIPY-Award/', :target => '_blank'
      %p
        The code for the Pinball Map app is open source.
        =link_to 'You can contribute here.', 'https://github.com/pinballmap/pbm-react/', :target => '_blank'
      %p
        Featuring splash artwork by
        =link_to 'Drew Marshall', 'http://workbydrew.com', :target => '_blank'
      %p
        =link_to 'Click here for iPhone/iPad app support (and to see some screenshots).', app_support_path
      %p
        %span.dark Some app features:
      %ul.list
        %li Add/Remove machines (to help keep the map up to date)
        %li Find nearby locations
        %li Submit new locations to be added
        %li See recent map updates
        %li Add comments about machines
        %li Add high scores
        %li Track your contributions
        %li View upcoming events
