#page_body  
  .left_column
    %p.subpage_text Pinball Map iPhone App(lication) Support
    %p.yellowb.subpage_text
      %strong FAQ
    %p.question The application will not load beyond the splash page.
    %ul.answer
      %li Close the app, check your internet connection and try again.
    %p.question The "Closest Locations" menu is blank.
    %ul.answer
      %li Check your Settings and turn on Location Services in the General Menu. Then try again.
    %p.question When I load a location page, it goes blank and an error is thrown.
    %ul.answer
      %li Contact <a class="five" href="mailto:ppm.app.support@gmail.com">ppm.app.support@gmail.com</a> with the name of the location you tried to view.
    %p.question When I view a location with the Maps application, the coordinates are incorrect.
    %ul.answer 
      %li Contact <a class="five" href="mailto:ppm.app.support@gmail.com">ppm.app.support@gmail.com</a> with the name of the location you tried to view.
    %p.question My business has at least one pinball machine but it does not show up in the application.
    %ul.answer 
      %li Your business or machines have not been added to the database yet.
      %li First check if your business is in our database. If you don't see your business, add it by clicking on the "Enter a new location" link above.
      %li If your business is in our database, select it then click on "Add New Machine At This Location" below its address, and follow the directions. Give us 24 hours for your business to appear in the application.
    %p.yellowb.subpage_text If you have another question or comment about the application, please contact <a class="five" href="mailto:ppm.app.support@gmail.com">ppm.app.support@gmail.com</a>. Thank you for your continued support.

  .right_column.secondary
    %p.yellowb.links_category
      Pinball Map iOS App Screenshots
    %p
      =image_tag 'app_support/iPhone-4-Inch-Screenshot-1.jpg'
    %p
      =image_tag 'app_support/iPhone-4-Inch-Screenshot-2.jpg'
    %p
      =image_tag 'app_support/iPhone-4-Inch-Screenshot-3.jpg'
    %p
      =image_tag 'app_support/iPhone-4-Inch-Screenshot-4.jpg'
    %p.yellowb.links_category
      Pinball Map iOS iPad Screenshots
    %p
      =image_tag 'app_support/iPad-Screenshot-1.jpg'
    %p
      =image_tag 'app_support/iPad-Screenshot-2.jpg'
    %p
      =image_tag 'app_support/iPad-Screenshot-3.jpg'
    %p
      =image_tag 'app_support/iPad-Screenshot-4.jpg'