#page_body
  .left_column
    %p.darkb Pinball Map iOS Application Support - FAQ
    %p.question The application will not load.
    %ul.answer
      %li Close the app, check your internet connection, and try again.
    %p.question The "Closest Locations" menu is blank.
    %ul.answer
      %li Check your Settings and turn on Location Services in the General Menu. Then try again.
    %p.question When I load a location page, it goes blank and an error is thrown.
    %ul.answer
      %li Contact <a class="five" href="mailto:pinballmap@posteo.org">pinballmap@posteo.org</a> with the name of the location you tried to view.
    %p.question When I view a location, the map coordinates are incorrect.
    %ul.answer
      %li Contact your regional administrator with the name of the location you tried to view.
    %p.question My business has at least one pinball machine, but it does not show up in the application.
    %ul.answer
      %li Your business or machines have not been added to the database yet.
      %li First check if your business is in our database. If you don't see your business, submit your location to us! A regional administrator will then add the location to the site.
      %li If your business is in our database, select it then add the machines to it. (If there are machines listed, but they've been replaced by others, please remove the machines and then add the new ones)
    %p.darkb.subpage_text If you have another question or comment about the application, please contact <a class="five" href="mailto:pinballmap@posteo.org">pinballmap@posteo.org</a>. Thank you for your continued support.

  .right_column_outer
    .right_column.secondary.app_support
      .ios
        %p.darkb.links_category
          Pinball Map iOS iPhone App Screenshots
        %ul
          %li
            =link_to image_tag('app_support/iphone-v4-01.jpg', :alt => 'Pinball Map iPhone Screenshot 1'), '/assets/app_support/iphone-v4-01.jpg'
          %li
            =link_to image_tag('app_support/iphone-v4-02.jpg', :alt => 'Pinball Map iPhone Screenshot 2'), '/assets/app_support/iphone-v4-02.jpg'
          %li
            =link_to image_tag('app_support/iphone-v4-03.jpg', :alt => 'Pinball Map iPhone Screenshot 3'), '/assets/app_support/iphone-v4-03.jpg'
          %li
            =link_to image_tag('app_support/iphone-v4-04.jpg', :alt => 'Pinball Map iPhone Screenshot 4'), '/assets/app_support/iphone-v4-04.jpg'
          %li
            =link_to image_tag('app_support/iphone-v4-05.jpg', :alt => 'Pinball Map iPhone Screenshot 5'), '/assets/app_support/iphone-v4-05.jpg'
      .ipad
        %p.darkb.links_category
          Pinball Map iOS iPad Screenshots
        %ul
          %li
            =link_to image_tag('app_support/ipad-v4-01.jpg', :alt => 'Pinball Map iPad Screenshot 1'), '/assets/app_support/ipad-v4-01.jpg'
          %li
            =link_to image_tag('app_support/ipad-v4-02.jpg', :alt => 'Pinball Map iPad Screenshot 2'), '/assets/app_support/ipad-v4-02.jpg'
          %li
            =link_to image_tag('app_support/ipad-v4-03.jpg', :alt => 'Pinball Map iPad Screenshot 3'), '/assets/app_support/ipad-v4-03.jpg'
          %li
            =link_to image_tag('app_support/ipad-v4-04.jpg', :alt => 'Pinball Map iPad Screenshot 4'), '/assets/app_support/ipad-v4-04.jpg'
          %li
            =link_to image_tag('app_support/ipad-v4-05.jpg', :alt => 'Pinball Map iPad Screenshot 5'), '/assets/app_support/ipad-v4-05.jpg'
