.left_column.secondary
  %p{:style => 'margin-top:7%;'}
    =link_to image_tag('App_Store.png'), "http://itunes.apple.com/us/app/portland-pinball-map/id359275713?mt=8", :class => 'pic', :target => '_blank'
  %p
    =link_to image_tag('android_market.png'), "https://market.android.com/details?id=com.pbm&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5wYm0iXQ..", :class => 'pic', :target => '_blank'
  %p
    =image_tag 'appLoadingPortland.jpg', :style => 'height:340px;width:226px;'
.right_column
  %p.yellow Pinball Map Apps
  %p.regular_text 
    We currently have two mobile apps released. One's for the iPhone, and the other is for Android. The newest versions of these apps will work for all the regions the website currently covers. You just open the app and then choose where you are located. And they will automatically support the new regions that are added in the future (and you won't need to update).
  %p.regular_text
    Featuring splash artwork by&nbsp;
    =link_to 'Drew Marshall', 'http://workbydrew.com', :class => 'light_blue', :target => '_blank'
  %p.regular_text
    =link_to 'Click here for iPhone app support (and to see some screenshots).', app_support_path, :class => 'light_blue'
  %br/
  %p.regular_text
    %span.yellow Features of these fine apps:
  %ul.weekly_text
    %li Add/Remove machines from locations, to help keep the map up to date
    %li Find locations by proximity
    %li Filter locations by those having four or more machines
    %li Stay up to date on your favorite spots, or find new favorites
    %li Add comments about machines
    %li View upcoming events (not available in all regions)
    %li Add in your high scores
    %li SHAKE THE PHONE to find a random spot near you! (not available on Android... yet)
    %li Other stuff I'm forgetting

