.textcol
  %p.yellow If you find bugs or have suggestions or whatever, please give us a ring. Try to be as specific as possible when describing problems.
  %br/
  #contact_maker
    = form_tag contact_sent_path, :method => 'get' do
      %table
        %tr
          %td Your Name:
          %td= text_field_tag :contact_name, params[:contact_name]
        %tr
          %td Your Email:
          %td= text_field_tag :contact_email, params[:contact_email]
        %tr
          %td Message: 
          %td= text_area_tag :contact_msg, params[:contact_msg]
      =submit_tag 'Submit Comment'
