#page_body
  .column_container.serif
    .column.w_320.bg_blue.ta_c
      %h1.red Donate
      %p You can become a monthly patron of Pinball Map via Patreon!
      %div{:style => 'width: 200px;margin: 0 auto;'}
        =link_to image_tag('become_a_patron_button@2x.png', :alt => 'Become a Patron', :style => 'width:200px;'), "https://patreon.com/pinballmap", :target => "_blank"
      %p=image_tag('treasure-map.png', :alt => 'Treasure Map')
    .column.w_560.mt_0
      %p
        %span.red.font18.sans.bold Since 2007,
        we've spent countless evenings and weekends building, maintaining, and enhancing Pinball Map. It's a fun project, and we're grateful that so many people find it useful. We're committed to continuing to improve the site.
      %p But as the site has grown in popularity and scope, the infrastructure costs have also grown! We need help!
      %p We've never made money off of this site, and we want it to remain ad-free. If you like Pinball Map and want to help support it, you have our heartfelt thanks!
      %p If Patreon isn't your thing, you could also make a one-time donation, via paypal.
      %p
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
          %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
          %input{:name => "hosted_button_id", :type => "hidden", :value => "HRVPXFUBSG4DE"}/
          %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}/
          %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
