#page_body
  .left_column
    %p.darkb Pinball Map FAQ
    %p 
      On this page, we'll answer some frequently asked questions. So far, the ones listed aren't actually questions! But we can still respond to them. If you have a question, 
      = link_to 'contact us.', 'http://pinballmap.com/portland/about'
  .right_column.event_column
    %p.question You should add Johndoeville to your app...?
    %ul.answer
      %li 
        We can really only respond to this with our own questions:
        %br
        %br
        %ul
          %li 
            Are you willing to serve as the administrator for this new region? 
            %span.notbold It doesn't take much work, but it does require attention to detail and an interest in watching over the data. If the answer is no, we won't add the region. But, be honest about your abilities/willingness to do this.
          %li 
            Do you operate pinball machines in the area? 
            %span.notbold The answer to this should be "no."
          %li 
            How many locations in your area have machines?
            %span.notbold The answer to this should be 10 or more. 
          %li 
            Do you already have a list of locations/machines in your area? 
            %span.notbold If so, that is a bonus.
          %li 
            Are there other people in your area that would help keep the map up to date (such as pinball league members)?
            %span.notbold This is a user-powered map. It only works when many people are aware of it and updating it. And it's YOUR job to spread the word.

      We can't add a new region without the answers to those questions!

    %p.question This machine is no longer at this location...?
    %ul.answer
      %li 
        This is a user-powered map, and YOU can remove the machine from the location. On the website, just click the "remove" button that's below the machine name. On the app, click on the machine name, and then look for a "remove" button or trash can icon.

    %p.question This location closed/no longer has machines...?
    %ul.answer
      %li 
        Simply remove all the machines from it. We get notified once a week about empty locations, and then we delete them (sometimes we wait longer to delete them because we want to verify that the machines are really gone). So, no need to tell us. But still, thanks for telling us and for updating the map!



