#page_body.notbold
  .column_container
    .column.w_560.bg_vlightpurple
      %p.question.red.font18.sans.bold Pinball Map FAQ
      %p.serif
        On this page, we'll respond to some frequently asked questions (and frequently commented comments). If you have a question or comment,
        = link_to 'contact us.', about_path('portland')
    .column.w_560.mt_5
      %p.question Can I use Pinball Map data on my own site?
      %ul.answer
        %li
          You can use our public API to fetch data and use it for your app. When using Pinball Map data, you must include attribution and a link back to this site. If you need bulk data for a project, please get in touch. We have collaborated with many folks on their projects, from student projects to services by major pinball companies. Please do not just scrape large amounts of this site for your own arcade/pinball mapping site, with no attribution. Thousands of people have been contributing their time and effort to this site since 2008.
      %p.question This machine is no longer at this location.
      %ul.answer
        %li
          This is a user-powered map, and YOU can remove the machine from the location. On the website, just click the "remove" button that's below the machine name. On the app, click on the machine name, and then look for a "remove" button or trash can icon.
      %hr
      %p.question This location closed/no longer has machines.
      %ul.answer
        %li
          Simply remove all the machines from it. We get notified once a week about empty locations, and then we delete them (sometimes we wait longer to delete them because we want to verify that the machines are really gone). So, no need to tell us. But still, thanks for telling us and for updating the map!
      %hr
      %p.question How do I add a new location?
      %ul.answer
        %li
          Fill out
          =link_to 'this form.', map_location_suggest_path
      %hr
      %p.question Can I add my private collection to the map?
      %ul.answer
        %li
          No. Pinball Map only lists publicly-accessible locations. The definition of 'public' varies - some places have entrance fees, or limited hours. But overall, the location has to be inclusive and accessible. So please don't submit your house or a private club that excludes people from becoming members.
      %hr
      %p.question How do I remove a machine from a location?
      %ul.answer
        %li
          Click the "remove" button beneath a machine name.
      %hr
      %p.question How do I get listed as an operator?
      %ul.answer
        %li
          = link_to 'Contact us', about_path('portland')
          and we'll add you. Check this
          = link_to 'blog post', 'https://blog.pinballmap.com/2015/10/22/operators-we-want-you/', :target => '_blank'
          about the benefits of being listed in our system!
      %hr
      %p.question Why was my comment removed?
      %ul.answer
        %li
          Our moderators may deem your machine or location comment to be inappropriate because:
        %br
        %ul.bold
          %li
            It contains a personal attack
          %li
            It isn't relevant
          %li
            It is offensive
          %li
            It isn't constructive
      %hr
      %p.question Why was my account banned?
      %ul.answer
        %li
          If we find that your account has been used to mess with data on the site, then we may ban it. Abusive behavior includes, but is not limited to: deleting machines that are at a location; adding machines that are not at a location; leaving lots of inappropriate/abusive comments.
