#page_body.notbold
  .column_container
    .column.w_560.bg_vlightpurple
      %p.question.red.font18.bold Pinball Map FAQ
      %p
        On this page, we'll respond to some frequently asked questions (and frequently commented comments). If you have a question or comment,
        = link_to 'contact us.', about_path('portland')
    .column.w_560.mt_5
      %p.question Can I use Pinball Map data on my own site?
      %ul.answer
        %li
          You can use our public API to fetch data and use it for your app. When using Pinball Map data, you must include attribution and a link back to this site. If you need bulk data for a project, please get in touch. We have collaborated with many folks on their projects, from student projects to services by major pinball companies. Please do not just scrape large amounts of this site for your own arcade/pinball mapping site, with no attribution. Thousands of people have been contributing their time and effort to this site since 2008.
      %p.question This machine is no longer at this location.
      %ul.answer
        %li
          This is a user-powered map, and YOU can remove the machine from the location. On the website, just click the "remove" button that's below the machine name. On the app, click on the machine name, and then look for a "remove" button or trash can icon.
      %hr
      %p.question This location closed/no longer has machines.
      %ul.answer
        %li
          Simply remove all the machines from it. We get notified once a week about empty locations, and then we delete them (sometimes we wait longer to delete them because we want to verify that the machines are really gone). So, no need to tell us. But still, thanks for telling us and for updating the map!
      %hr
      %p.question This location is temporarily closed. Should I remove the machines from it?
      %ul.answer
        %li
          No. If a place is seasonal or closed due to restrictions, and is expected to re-open, please do not remove the machines from it. Just edit the location description to say it's temporarily closed. You can also make sure the phone number is listed, so that people can easily call and check on the status.
      %hr
      %p.question This location has moved. Should I remove the machines from it and re-submit?
      %ul.answer
        %li
          No. Administrators can change the address. Please let us know if a location has moved. It's preferable to simply change the address because that retains the location history.
      %hr
      %p.question I see you have a ranking system for contributors. How do I earn a contributor badge and title?
      %ul.answer
        %li
          Great question! As a small token of acknowledgement of your contributions to the map, if you make more than 50 contributions, we christen you a "Super Mapper". After 250 contributions, you are a "Legendary Mapper". And after 500 amazing map contributions, you are a "Grand Champ Mapper"!
      %hr
      %p.question How do I add a new location?
      %ul.answer
        %li
          Fill out
          =link_to 'this form.', map_location_suggest_path
      %hr
      %p.question Can I add my private collection to the map?
      %ul.answer
        %li
          No. Pinball Map only lists publicly-accessible locations. The definition of 'public' varies - some places have entrance fees, or limited hours. But overall, the location has to be inclusive and accessible. So please don't submit your house or a private club that excludes people from becoming members.
      %hr
      %p.question How do I remove a machine from a location?
      %ul.answer
        %li
          While logged in, click the "trash can" icon next to a machine name.
      %hr
      %p.question When I search for a city, the city is listed twice (and maybe the second instance of it is misspelled). Or, I see the same location listed twice. Or, the place is in the wrong spot on the map. Etc.
      %ul.answer
        %li
          These are data entry mistakes. Please 
          = link_to 'contact us', about_path('portland')
          so we can fix them.
      %hr
      %p.question How do I get listed as an operator?
      %ul.answer
        %li
          = link_to 'Contact us', about_path('portland')
          and we'll add you. Check this
          = link_to 'blog post', 'https://blog.pinballmap.com/2015/10/22/operators-we-want-you/', :target => '_blank'
          about the benefits of being listed in our system!
      %hr
      %p.question I am an operator, and people are leaving annoying comments on my machines. Can you make them stop, or disable comments on my machines?
      %ul.answer
        %li
          We can't control the comments that people make, nor will we disable comments at an individual venue. Some operators find reports of technical issues to be very useful; and some do not. Some operators wish that folks would only leave "general" machine comments and not "specific" comments. On the other hand, most regular users find machine comments to be a very valuable feature. It is difficult to perfectly cater to everyone. Our suggestions to operators (and regular users):
        %br
        %ul
          %li
            A comment about a machine issue is not going to hurt your business in the short term. Pinball Map often gets blamed for "making" operators rush across town to fix and issue and write a comment saying the issue is fixed.
          %li
            Users definitely notice when operators remove and re-add the same machine in order to clear out comments they don't like. It makes it seem like the operator is whitewashing comments rather than fixing issues. We strongly discourage doing this, and instead ask that operators simply write a note saying the issue is fixed! This history is actually really valuable.
          %li
            To regular users leaving comments: It is generally preferable to directly tell operators about problems. For example, in person or with a note to staff at the venue. Many pinball issues are minor and temporary, and leaving a comment about them on the map puts it "on the record" and creates a burden for the operator to then write a comment about the issue being fixed.
      %hr
      %p.question Why was my comment removed?
      %ul.answer
        %li
          Our moderators may deem your machine or location comment to be inappropriate because:
        %br
        %ul
          %li
            It contains a personal attack
          %li
            It isn't relevant (for example, promoting a tournament in a machine comment) or constructive
          %li
            It is offensive
      %hr
      %p.question Why was my account disabled?
      %ul.answer
        %li
          If your account has been used to mess with data on the site, then we may ban it. Bad behavior includes, but is not limited to: deleting machines that are at a location; adding machines that are not at a location; leaving lots of inappropriate/abusive comments.
        %li
          You created a sockpuppet account to hype your location and/or disparage the competition. This is unethical and it makes the site worse. Don't do this. Look in the mirror.
