#page_body.notbold
  .column_container
    .column.w_560.bg_gray
      %p.question.red.font18.sans.bold Pinball Map FAQ
      %p.serif
        On this page, we'll respond to some frequently asked questions (and frequently commented comments). If you have a question or comment,
        = link_to 'contact us.', about_path('portland')
    .column.w_560.mt_5
      %p.question This machine is no longer at this location.
      %ul.answer
        %li
          This is a user-powered map, and YOU can remove the machine from the location. On the website, just click the "remove" button that's below the machine name. On the app, click on the machine name, and then look for a "remove" button or trash can icon.
      %hr
      %p.question This location closed/no longer has machines.
      %ul.answer
        %li
          Simply remove all the machines from it. We get notified once a week about empty locations, and then we delete them (sometimes we wait longer to delete them because we want to verify that the machines are really gone). So, no need to tell us. But still, thanks for telling us and for updating the map!
      %hr
      %p.question Can you include 'bat games' like SlugFest on the map?
      %ul.answer
        %li
          No. We used to include bat games, but found that non-pinball machines like that were a slippery slope toward including more and more non-pinball machines. We only want to map pinball machines. In general, if the machine is not listed on
          = link_to 'OPDB', 'http://opdb.org'
          then we will not include it.
      %p.question Why was my comment removed?
      %ul.answer
        %li
          Our moderators may deem your machine or location comment to be inappropriate because:
        %br
        %ul.bold
          %li
            It contains a personal attack
          %li
            It isn't relevant
          %li
            It is offensive
          %li
            It isn't constructive
      %hr
      %p.question Why was my account banned?
      %ul.answer
        %li
        If we find that your account has been used to mess with data on the site, then we may ban it. Abusive behavior includes, but is not limited to: deleting machines that are at a location; adding machines that are not at a location; leaving lots of inappropriate/abusive comments.
      %p.question You should add Johndoeville as a 'region' on the map.
      %ul.answer
        %li
          We can really only respond to this with our own questions:
          %br
          %br
          %ul
            %li
              %span.bold Are you willing to serve as the administrator for this new region?
              It doesn't take much work, but it does require attention to detail and an interest in watching over the data. If the answer is no, we won't add the region. But, be honest about your abilities/willingness to do this.
            %li
              %span.bold Do you operate pinball machines in the area?
              The answer to this should be "no."
            %li
              %span.bold How many locations in your area have machines?
              The answer to this should be 10 or more.
            %li
              %span.bold Do you already have a list of locations/machines in your area?
              If so, that is a bonus.
            %li
              %span.bold Are there other people in your area that would help keep the map up to date (such as pinball league members)?
              This is a user-powered map. It only works when many people are aware of it and updating it. And it's YOUR job to spread the word.

        %span.bold We can't add a new region without the answers to those questions!
      %hr
      %p.question Why didn't you add the region that I requested?
      %ul.answer
        Most likely, it's because you didn't answer the above questions.
      %hr
      %p.question What's it take to be a regional administrator?
      %ul.answer
        %li
          As you probably know, this website/app is composed of a lot of separate pinball maps. The intent in keeping them relatively small is that this will make them easier to manage and keep up to date. They cover busy areas where people are actively playing pinball and scouting for machines. For each map we make, we want at least one local person to serve as that map's administrator.
          %br
          %br
          Regular site visitors can make a lot of map updates, and administrators can make even more! Their most common task is to
          %span.bold
            add new locations.
          Users submit locations, and admins verify and spellcheck those locations. Admins also:
          %br
          %br
          %ul.bold
            %li
              Remove empty locations
            %li
              Keep an eye on machine comments and machine removals (to make sure people aren't abusing the data)
            %li
              Add local pinball links
            %li
              Add local events
            %li
              Add operators
          %br
          Admins should care about the integrity of the map. They should be careful and consistent with their spelling and punctuation. They should also have an interest in helping spread the word about the map. Each map is for the people who live in that area, and so admins are kind of an ambassador for their local map. They should also be unbiased - each map is a representation of what exists. Any user can leave a comment about a machine or location, so if a place sucks then it will be known. But it's not the admin's role to exclude places because they suck. All locations with publicly playable pinball should be on the map.
      %hr
