#page_body.promote_body
  %p.font20.center
    - if mobile_device?
      (This page will look bad on mobile)
    Print out this page, cut it into four, and then spread the word! THANKS!
  #promote_container
    .promote_subcontainer
      %p.bold.m_5.black.sans.font28
        Find pinball machines to play!
      %p.m_5.p_0.font16.serif
        %span
          Listing over
          %span.bold 35,000
          machines worldwide!
      %p.m_0.p_0
        =image_tag('pinballmap-qr.png', :alt => 'pinball map qr code', :class => 'app_logo')
      %p.m_0.p_0.font16.sans
        pinballmap.com
      %p.m_5.p_0.brightpurple.bold.font20
        Plus a free app!
      %p.m_5.p_0
        =image_tag('pinballmap-logo.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.bold.m_5.black.sans.font28
        Find pinball machines to play!
      %p.m_5.p_0.font16.serif
        %span
          Listing over
          %span.bold 35,000
          machines worldwide!
      %p.m_0.p_0
        =image_tag('pinballmap-qr.png', :alt => 'pinball map qr code', :class => 'app_logo')
      %p.m_0.p_0.font16.sans
        pinballmap.com
      %p.m_5.p_0.brightpurple.bold.font20
        Plus a free app!
      %p.m_5.p_0
        =image_tag('pinballmap-logo.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.bold.m_5.black.sans.font28
        Find pinball machines to play!
      %p.m_5.p_0.font16.serif
        %span
          Listing over
          %span.bold 35,000
          machines worldwide!
      %p.m_0.p_0
        =image_tag('pinballmap-qr.png', :alt => 'pinball map qr code', :class => 'app_logo')
      %p.m_0.p_0.font16.sans
        pinballmap.com
      %p.m_5.p_0.brightpurple.bold.font20
        Plus a free app!
      %p.m_5.p_0
        =image_tag('pinballmap-logo.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.bold.m_5.black.sans.font28
        Find pinball machines to play!
      %p.m_5.p_0.font16.serif
        %span
          Listing over
          %span.bold 35,000
          machines worldwide!
      %p.m_0.p_0
        =image_tag('pinballmap-qr.png', :alt => 'pinball map qr code', :class => 'app_logo')
      %p.m_0.p_0.font16.sans
        pinballmap.com
      %p.m_5.p_0.brightpurple.bold.font20
        Plus a free app!
      %p.m_5.p_0
        =image_tag('pinballmap-logo.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
