#page_body
  .left_column.secondary.profile
    %p.darkb
      Please
      = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
      to view your profile!
  .right_column.right_column_profile
  %p Oh what cool stats you'll see here once you've signed in and updated some pinball maps. But until then...
