#page_body
  .column_container
    .column.w_320.bg_gray.center
      %p.red.font18.sans.bold
        Create an Account
      %p.darkgrey.red
        =link_to "Join", new_user_registration_path
        and update Pinball Map! Then you can check this page to see an overview of your contributions.
      %p.serif
        Already have an account?
        =link_to "Login", new_user_session_path
    .column.w_560.mt_5
      %div.darkgrey.stats.font18.sans.bold
        %div.stat_num_o
          %span.stats
            ??
        %span.stats_text Machines Added
      %div.darkgrey.stats.font18.sans.bold
        %div.stat_num_o
          %span.stats
            ???
        %span.stats_text Machines Removed
      %div.darkgrey.stats.font18.sans.bold
        %div.stat_num_o
          %span.stats
            ??
        %span.stats_text Machine Comments
      %div.darkgrey.stats.font18.sans.bold
        %div.stat_num_o
          %span.stats
            ???
        %span.stats_text Locations Submitted
      %div.darkgrey.stats.font18.sans.bold
        %div.stat_num_o
          %span.stats
            ??
        %span.stats_text Locations Edited
      %div.darkgrey.stats.font18.sans.bold
        %div.ml_5
          List of Locations Edited:
          %span.stats_list
            %span.location_edited Cleo's Arcade
      %div.darkgrey.stats.font18.sans.bold
        %div.ml_5
          High Scores:
          %span.stats_list
            %span.score_machine
              Some Machine You Love
            %span.pt_5
              999,888,777
            %span.score_meta at
            %span.score_meta_gen Cleo's Arcade
            %span.score_meta on
            %span.score_meta_gen Mar 11, 2016
