#page_body
  .left_column.secondary.profile
    %p.profile.darkb
      Create an Account
    %p.darkbl
      =link_to "Join", "http://#{request.host_with_port}/users/join"
      and update Pinball Map! Then you can check this page to see an overview of your contributions.
    %p
      Already have an account?
      =link_to "Login", "http://#{request.host_with_port}/users/login"
  .right_column.right_column_profile.inspire_profile
    %div.darkbl.stats
      %div.stat_num_o
        %span.stats
          ??
      %span.stats_text Machines Added
    %div.darkbl.stats
      %div.stat_num_o
        %span.stats
          ???
      %span.stats_text Machines Removed
    %div.darkbl.stats
      %div.stat_num_o
        %span.stats
          ??
      %span.stats_text Conditions Left
    %div.darkbl.stats
      %div.stat_num_o
        %span.stats
          ???
      %span.stats_text Locations Suggested
    %div.darkbl.stats
      %div.stat_num_o
        %span.stats
          ??
      %span.stats_text Locations Edited
    %div.darkbl.stats
      %div.stats_o
        List of Locations Edited:
        %span.stats_list
          %span.location_edited Cleo's Arcade
    %div.darkbl.stats
      %div.stats_o
        High Scores:
        %span.stats_list
          %span.score_machine
            Some Machine You Love
          %span.score_score
            999,888,777
          %span.score_meta at
          %span.score_meta_gen Cleo's Arcade
          %span.score_meta on
          %span.score_meta_gen Mar-11-2016
