#page_body  
  .left_column.links_column
    - if (@links.size > 0)
      - @links.keys.sort.each do |key|
        %p.yellowb.links_category #{@links[key][0].category}
        - @links[key].sort_by! { |rlx| rlx.sort_order }.each do |l|
          %p.links_content
            = link_to l.name, l.url, :class => 'light_blue', :target => '_blank'
            %br/
            %span.regular_text #{l.description}
    - else
      %p.regular_text Coming soon...
