#page_body.notbold
	.left_column
		%p.question.bold Pinball Map Privacy Policy
		%p This document was not written or reviewed by a lawyer.
		%p The data on Pinball Map are supplied by site/app users. Thus, we consider it "your" data. We do not use the data to generate revenue. We appreciate your use of our site/apps, and we respect your privacy. This privacy policy is intended to add transparency to our operations.
	.right_column.event_column
		%p.question We automatically collect:
		%p
			%span.bold IP addresses,
			and
			%span.bold
				general device info,
			of users who take these actions on the site/apps:
			%ul
				%li Add a new machine name to the database
				%li Add a machine to a location
				%li Leave a condition comment for a machine
				%li Remove a machine from a location
				%li Suggest a new location to be added to a region
		%p We get an email when anyone does one of those things. The emails help us keep an eye on the data. So in addition to the email telling us, "Star Trek was removed from Bob's Big Bar," it also tells us something like:
		%p.bold (entered from xx.xxx.xxx.xxx via Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0))
		%p or
		%p.bold (entered from xxx.xxx.xxx.xx via PinballMap/20 (iPhone; iOS 8.3; Scale/2.00))
		%p Browsers collect this "user agent" data automatically. We use the device info for troubleshooting problems.
		%p.question Users
		%p In Winter 2016, we added a user system. In this system, people create user accounts. Only logged in users can take the actions listed above. So now those emails contain user info (username and email address). We have a log of edits made to the site, and we can use that log to make sure certain users aren't messing with things.
		%p.question Additional
		%p When you use our mobile apps, and have Location Services enabled, our apps use the location data (to, for example, tell you the closest locations with pinball machines). We do not collect this information (so, of course, we cannot associate it with an IP address, device info, or username).
		%p.question We do not share:
		%p We do not share any user data with anyone.
