#page_body.notbold
	.column_container
		.column.bg_gray.w_320
			%p.question.bold.ta_c Pinball Map Privacy Policy
			%p.serif This document was not written or reviewed by a lawyer.
			%p.serif The data on Pinball Map are supplied by site/app users. Thus, we consider it "your" data. We do not use the data to generate revenue. We appreciate your use of our site/app, and we respect your privacy. This privacy policy is intended to add transparency to our operations.
		.column.w_560.mt_0.serif			
			%p.question User Info
			%p
				When people make map edits, we see what the edit is, along with your username and email that you've supplied to us, as well as the "user agent" info that is automatically collected by all browsers. This includes device information and IP address.
				The emails help us keep an eye on the data. So in addition to the email telling us, "Star Trek was removed from Bob's Big Bar," it also tells us something like:
			%p.bold (entered from xx.xxx.xxx.xxx via Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0))
			%p or
			%p.bold (entered from xxx.xxx.xxx.xx via PinballMap/20 (iPhone; iOS 8.3; Scale/2.00))
			%p We use the device info for troubleshooting problems.
			%p.question Users
			%p In Winter 2016, we added a user system. In this system, people create user accounts. Only logged in users can take the actions listed above. So now those emails contain user info (username and email address). We have a log of edits made to the site, and we can use that log to make sure certain users aren't messing with things.
			%p.question Location Services
			%p When you use our mobile app, and have Location Services enabled, our app uses the location data (to, for example, tell you the closest locations with pinball machines). We do not collect this information (so, of course, we cannot associate it with an IP address, device info, or username).
			%p.question We do not share:
			%p We do not share any user data with anyone.
			%p.question Analytics
			%p
				We do not use third party analytics. 
				We've found that we don't have the time to analyze that type of data and we don't care about it. 
				All we care about are the edits that are made to the map.
			%p.question App Analytics
			%p 
				That said, we use Expo to create our mobile app. And Expo themselves collect anonymous basic usage information (such as device info and crash reports), so they can better understand issues with their service.
				We don't have access to this info.
				=link_to 'Here is the Expo Privacy Policy.','https://expo.io/privacy', :target => '_blank'
				Plus, some
				=link_to 'more detailed info from them.', 'https://forums.expo.io/t/apps-made-with-expo-and-gdpr-compliance/10939'
