#page_body.notbold
	.column_container
		.column.bg_gray.w_320
			%p.question.bold.ta_c Pinball Map Privacy Policy
			%p.serif This document was not written or reviewed by a lawyer. This privacy page applies to both the Pinball Map website and the Pinball Map app.
			%p.serif
				.bold TL:DR
				We do not use any data on this site to generate revenue. We have never sold (or shared) user data (such as email addresses). We do not collect any location information.
			%p.serif We appreciate your use of this site/app, and we are committed to maintaining your privacy. This privacy policy is intended to add transparency to our operations. The data on Pinball Map are supplied by its users, and thus, we consider it "your" data and not something we can share.
		.column.w_560.mt_0.serif
			%p.question User Info
			%p
				When people make map edits, we see what the edit is, along with your username and email that you've supplied to us, as well as the "user agent" info that is automatically collected by all browsers. This includes generic device information and a public IP address. So in addition to the seeing an update like, "Star Trek was removed from Bob's Big Bar by USERNAME," we also see the user agent info:
			%p.bold (entered from xx.xxx.xxx.xxx via Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0))
			%p or
			%p.bold (entered from xxx.xxx.xxx.xx via PinballMap/20 (iPhone; iOS 8.3; Scale/2.00))
			%p We sometimes use this generic device info for troubleshooting problems (such as, "it looks like this person is experiencing issues on the iOS app").
			%p.question Location Services
			%p When you use the mobile app, and have Location Services enabled, the app uses the location data (to, for example, tell you the closest locations with pinball machines). We do not collect or store this information (so, of course, we cannot associate it with an IP address, device info, or username). We do not know where you are, and we do not care where you are.
			%p.question We do not share:
			%p We do not share any user data with anyone.
			%p.question Analytics
			%p
				We do not use third party analytics.
				We've found that we don't have the time to analyze that type of data and we don't care about it.
				All we care about are the edits that are made to the map.
			%p.question App Analytics
			%p
				That said, we use Expo to create our mobile app. And Expo themselves collect anonymous basic usage information (such as device info and crash reports), so they can better understand issues with their service.
				We don't have access to this info.
				=link_to 'Here is the Expo Privacy Policy.','https://expo.io/privacy', :target => '_blank'
				Plus, some
				=link_to 'more detailed info from them.', 'https://forums.expo.io/t/apps-made-with-expo-and-gdpr-compliance/10939'
