#page_body 
	.left_column
		%p.question.darkb Pinball Map Privacy Policy
		%p This document was not written or reviewed by a lawyer. 
		%p The data on Pinball Map is supplied by site/app users. Thus, we consider it "your" data. We do not own the data, and we do not use the data to generate revenue. We provide a frame for your data, in the form of a website and apps. We appreciate your use of our site/apps, and we respect your privacy. This privacy policy is intended to add transparency to our operations.
	.right_column.event_column
		%p.question We collect:
		%p 
			%span.darkb Google Analytics data. 
			Honestly we don't have a great understanding of what this means. They may collect more data about you than they present to us. We suggest you look at the Google Analytics EULA. If you object to Google Analytics collecting data when you visit our site, you can block this with a number of browser add-ons (such as 
			=link_to 'Privacy Badger,', 'https://www.eff.org/privacybadger', :target => '_blank'
			=link_to 'Disconnect,', 'https://addons.mozilla.org/en-US/firefox/addon/disconnect/', :target => '_blank'
			or
			=link_to 'Ghostery).', 'https://www.ghostery.com/en/', :target => '_blank'
			You can also suggest an alternative method of collecting "hits," and we'll consider switching to it. As you know, we do not use analytics to generate revenue, so analytics isn't important to us. 
		%p 
			%span.darkb IP addresses, 
			and 
			%span.darkb 
				general device info,
			of users who take these actions on the site/apps:
			%ul
				%li Add a new machine name to the database
				%li Add a machine to a location
				%li Leave a condition comment for a machine
				%li Remove a machine from a location
				%li Suggest a new location to be added to a region
		%p We get an email when anyone does one of those things. The emails help us keep an eye on the data. So in addition to the email telling us, "Star Trek was removed from Bob's Big Bar," it also tells us something like:
		%p.darkb (entered from xx.xxx.xxx.xxx via Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0))
		%p or
		%p.darkb (entered from xxx.xxx.xxx.xx via PinballMap/20 (iPhone; iOS 8.3; Scale/2.00))
		%p Why?
		%p We collect IP addresses because sometimes the site experiences abuse, and the abuse is concentrated in one region. These are "public IP addresses," which means they give a broad approximation of a user's location. If a user is on a public network, all of the other people on that network will share the same IP address. When we identify abuse, we block that IP address from accessing the site. We don't have any information about this person aside from: they're a jerk, they likely are situated in this general area, they are on a network which has this IP address.
		%p We collect device info for the sake of improving usability. For example, if users are frequently adding new machine names to the database rather than selecting a machine name from the available list, we can see that they are using a certain device, such as the Android app. We can then can deduce that we should look at improving the interface of the Android app so that they are more likely to use the available list. This device info has helped us greatly. 
		%p At this moment, we do not store this information in any systematic way. We just look it usage when it seems relevant.
		%p.question Additional
		%p When you use our mobile apps, and have Location Services enabled, our apps use the location data (to, for example, tell you the closest locations with pinball machines). We do not collect this information (so, of course, we cannot associate it with an IP address or device info).
		%p.question We do not collect or share:
		%p We do not collect any personal information, and we do not share anything with anyone. We do not know who you are.


