<h1>THIS IS A REGION'S PAGE</h1>
<div class="float_left" id="page">
  <div class="float_left" id="lookup">
    <div class="float_left" id="form"><%= render :partial => 'locations/form' %></div>
    <br clear="all" />
    <div class="float_left" id="locations"><%= render 'locations/locations' %></div>
  </div>
  <div class="float_left" id="map"><%= render :partial => 'locations/map' %></div>
</div>
