#page_body  
  #lookup
    #form
      = render :partial => 'locations/form'
    %br/
    #locations
      - if !@region.motd.blank?
        %p.regular_text{:style => "margin-top: 0px;"}
          %span.yellowb Message of the Day:
          = @region.motd 
      = yield :presearch_sidebar 
  #map
    = render :partial => 'locations/map'
