#page_body
  #map
    = render :partial => 'locations/map'
  #form
    = render :partial => 'locations/form' 
  #lookup
    %br/
    #locations
      - if !@region.motd.blank?
        %p.regular_text{:style => "margin-top: 0px;"}
          %span.yellowb Message of the Day:
          = @region.motd 
      = yield :presearch_sidebar 