#page_body
  .column_container
    .column.w_400.bg_gray
      %h1.red We don't have anything to sell right now.
      %p But here are some pictures of old shirts.
    .column
      %p
        =image_tag 'tshirt-pbm-front-500.jpg', :class => 'store_img store_shirt', :alt => 'Pinball Map T-Shirt'
      %p
        =image_tag 'tshirt-pbm-back-500.jpg', :class => 'store_img store_shirt', :alt => 'Pinball Map T-Shirt'
      %p
        =image_tag 'tshirt-portland-500.jpg', :class => 'store_img store_shirt', :alt => 'Pinball Map T-Shirt'
