#page_body
  .left_column{:style => 'margin-bottom:15px;'}
    %p.store_title.darkb Pinball Map T-Shirts! SOLD OUT!
    %p
      Hey folks! We're out of shirts! We have nothing to sell you right now.
    %p
      But at one point we were selling this t-shirt.
  .right_column.event_column
    %p{:style => 'text-align:center;'}
      =image_tag 'pbm-shirt-web.jpg', :class => 'store_shirt', :alt => 'Pinball Map T-Shirt'
