#page_body
  .column_container
    .column.w_400.bg_vlightpurple
      %h1.red Pinball Map Stickers!
      %p $3 for TWO stickers (2 of the same color).
      %p 4.25 x 1.38 inches
      %p Free shipping (we&rsquo;re trying to limit shipping to US and Canada - sorry all - and also, we think the Square setup we&rsquo;re trying right now might be restricted to US-only).
      %p Click the button below (or the images) to visit our Square shop to complete your purchase.
      %p.center
        %a{:href => "https://pinballmap.square.site", :style => "  display: inline-block;  font-size: 18px;  line-height: 48px;  height: 48px;  color: #ffffff;  min-width: 212px;  background-color: #d936b0;  text-align: center;  box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;  border-radius: 50px;", :target => "_blank"} Buy Now?


    .column.w_450
      %div
        =link_to image_tag('pbm-gold-sticker.jpg', :alt => 'Pinball Map Gold Sticker', :style => 'width: 100%; border-radius: 30px;margin-bottom: 20px;'), 'https://pinballmap.square.site/product/pinball-map-gold-sticker/1'
      %div
        =link_to image_tag('pbm-pink-sticker.jpg', :alt => 'Pinball Map Pink Sticker', :style => 'width: 100%;border-radius: 30px;margin-bottom: 2'), 'https://pinballmap.square.site/product/pinball-map-pink-sticker/2'
