#page_body
  .column_container
    .column.w_400.bg_gray
      %h1.red We have NEW Pinball Map T-Shirts for sale!
      %p.serif
        The original design has been updated, with the big logo now on the back, and a graceful Pinball Map logo on the chest. The shirt is black.
      %p.serif
        And we have a brand new graphic! Well, it's 10 years old, but it's new to shirts. It's our original Portland Pinball Map graphic, and it is glorious. You may enjoy this shirt even if you're not from Portland. The shirt is navy blue.
      %p.serif 
        Both designs are by the talented 
        = link_to 'Drew Marshall.', 'https://workbydrew.com', :target => "_blank", :class => "bold"
        They come in sizes S - XXL, unisex, on All Style brand shirts (similar to Gildan).
      %p.serif
        The shirts are $20, plus $3 shipping for domestic orders. If you are a 
        = link_to "Pinball Map Patreon", "https://patreon.com/pinballmap", :class => "bold"
        supporter, you get a discount! $5 discount if you support us at the $5/mo level, and $2 discount if you support us at the $2/mo level. We don't have a button for that, so just 
        =link_to 'CONTACT US', about_path('portland')
        before ordering.
      %h2.red{:style => "text-align: center;margin-bottom: 0;"} Pinball Map T-Shirt
      %p.serif{:style => "text-align: center;display:block;"} 
        2-Sided! On Black!
        %br/
        $20+$3 Shipping.      
      %span.serif{:style => "text-align: center;display:block;"}  Pick a Size:
      %div{:style => 'width: 90px;margin: 0 auto;'} 
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
          %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
          %table{:align => 'center'}
            %tr{:align => 'center'}
              %td
                %input{:name => "on0", :type => "hidden", :value => "$20+$3 Shipping. Pick a Size"}>/             
            %tr{:align => 'center'}
              %td
                %select{:name => "os0"}
                  %option{:value => "Small"} Small
                  %option{:value => "Medium"} Medium
                  %option{:value => "Large"} Large
                  %option{:value => "X Large"} X Large
                  %option{:value => "XX Large"} XX Large
          %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCoAl2xo0gvT10ex0GOm+kESZ4hAHbyFptye5hwfJ6vSLXMSH19qWxENECy5va+Iut2Wy0BgcBPYyQBCr/PKi+k4MPzXRByFwlWPK5/ULU5XtHNFEcg4oB4+9Pky2FQSrphz2XHWZkGw4NzP34NaFXvXbUIngviTinUYM3CWyYT/jELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI7UWfCb2F/OmAgcAFrDQIcV7CbOa621xn4D5499jGUyEUM01ucTTPjFYie0vMMNYE8/5XZ3ZAK3+dYuxDUPgCcmWEOdsDl5UGzVW6Oan87DZJ5AZhqf5nzIRibjqx3DphfyWl8e5wrkCQSePj59UGRW6UjfrUIoxbPalMC8QTs7yH9/w81Uy3GlzcZV+4scyNEwOd6lBlZvFqzGIob6YkFQ8ZipcqBTjpFW0SYeV0AAtx7kdeDXQ/jolbQXX9sYcF1mKMRqipjZKKNtCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODA5MDcwNDU0MTdaMCMGCSqGSIb3DQEJBDEWBBQfj2fvH5/vkFhjywRHQkdOvKvkcjANBgkqhkiG9w0BAQEFAASBgCW0xJKNVkSgAustTKduIXgyEPGPALQxvf0uSg1TSYEAltX6dTR7N+AcHVoxTmzVUZ5l9JGgbdJzaAvHx45nAyxOlOUT9TNBKVk5vomnI2VOE0olcZbOZ2ZHbkNwFMh6WFZeW7Dy8U1dPPT6smCp+ei+JgbaUxu1ErvJNPnsvWfM-----END PKCS7-----\n"}/
          %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", :type => "image"}/
          %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
              
      %h2.red{:style => "text-align: center;margin-bottom: 0;"} Portland Pinball Map T-Shirt
      %p.serif{:style => "text-align: center;display:block;"} 
        2-Sided! On Black!
        %br/
        $20+$3 Shipping.    
      %div{:style => 'width: 90px;margin: 0 auto 15px;'} 
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
          %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
          %table{:align => 'center'}
            %tr{:align => 'center'}
              %td
                %input{:name => "on0", :type => "hidden", :value => "$20+$3 Shipping. Pick a Size"}>/
            %tr{:align => 'center'}
              %td
                %select{:name => "os0"}
                  %option{:value => "Small"} Small
                  %option{:value => "Medium"} Medium
                  %option{:value => "Large"} Large
                  %option{:value => "X Large"} X Large
                  %option{:value => "XX Large"} XX Large
          %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIHfwYJKoZIhvcNAQcEoIIHcDCCB2wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCHlzWl/W2AQvVYRGsAa2YHO+FTroJcNbtWhFfOVVeMp5h9POQvEpmqGvkTvrIDXhSkNUXnsohahK1jFY6JZXwv9vkxDpmsjS85jGnsHSVi1u0WxVGqhk3WnxOJjHH4pxrnIcemPbFNo2Fr7d1ZI5ECRtmYM27H6CS+qdcXr9+/RDELMAkGBSsOAwIaBQAwgfwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI0l+udZGGQYSAgdjC5CxyYHOg6QLCRxZE14kMTk4hwy9lFmj35iiJKhG3L6xBoORgdPx95jT9NPUXCFFGgBOxSH1+YDw8hhccoCyrIf+v8YqbgI4aLlDs80B5wzzWmPevIyEdEtT2nzatdONa0VzcCNLp1SSYsqgozw+UHXEmg38/nSkgRTwNe9hSNk/kFf45y+ojUEzIDuQtkuTxJyGfP9Xkxgrne30GbOcOt5Ypat4qUsQtuEtxCV+Bf0aNSnEt81H8Tue7b3mmV4J//2a0McUQ79/NPktF/1tFv42fVFPECfygggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODA5MDcwNDU3MzJaMCMGCSqGSIb3DQEJBDEWBBSBT92ObmgtZksZfCwZd12AO3OkxjANBgkqhkiG9w0BAQEFAASBgGaMTkYi0cftHdRAneaqxOkZXRus/hI3PA9N+ixyDVvDs/s1ZalEqcdqfleF79OR3Q3g1H9rgq/IA3mGTpvVIiBf+N3PyMKATbUEG1D8j+mX2dM5Z/ioO3tWU7qF38Y4l3+8ilz13U0yj8Lj0on0fTBddIAjRHCUhHhSsKLK1V1d-----END PKCS7-----\n"}/
          %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", :type => "image"}/
          %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
      
    .column
      %p 
        =image_tag 'tshirt-pbm-front-500.jpg', :class => 'store_shirt', :alt => 'Pinball Map T-Shirt'
      %p 
        =image_tag 'tshirt-pbm-back-500.jpg', :class => 'store_shirt', :alt => 'Pinball Map T-Shirt'
      %p 
        =image_tag 'tshirt-portland-500.jpg', :class => 'store_shirt', :alt => 'Pinball Map T-Shirt'
