#page_body
  .column_container
    .column.w_400.bg_vlightpurple
      %p.red.bold.p1 Pinball Map Store!
      %p Actually, our store is on our Ko-fi page, so click the button below (or click the images) to visit the real store. This is just a teaser.
      %p.center
        %a{:href => "https://ko-fi.com/pinballmap/shop", :style => "  display: inline-block;  font-size: 18px;  line-height: 48px;  height: 48px;  color: #ffffff;  min-width: 212px;  background-color: #d936b0;  text-align: center;  box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;  border-radius: 50px;", :target => "_blank"} Pinball Map Store

    .column.w_450
      %div
        =link_to image_tag('beanie-three-500.jpg', :alt => 'Pinball Map Beanie', :style => 'width: 100%; border-radius: 30px;margin-bottom: 20px;'), 'https://ko-fi.com/s/1119af0377'
      %div
        =link_to image_tag('pbm-gold-sticker.jpg', :alt => 'Pinball Map Gold Sticker', :style => 'width: 100%; border-radius: 30px;margin-bottom: 20px;'), 'https://ko-fi.com/s/aa902ed6e5'
