!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Photo ID: #{@photo_id}
      %br
      Location: #{@location_name}
      %br
      Region: #{@region_name}
      %br
      Photo: #{@photo_url}
    %p 
      No need to approve it, it's already live.
