Here is a list of all the comments that were placed in your region on #{(Time.now - 1.day).strftime('%m/%d/%Y')}. Questions/concerns? Contact map@pinballmap.com

#{@region_name} Daily Machine Comments
 
- @submissions.each do |subs|
  = subs