Here is a list of all the machines that were removed from your region on #{(Time.now - 1.day).strftime('%m/%d/%Y')}. Questions/concerns? Contact map@pinballmap.com

#{@region_name} Daily Machine Removals

- @submissions.each do |subs|
  = subs