Your Pinball Map API token request has been approved.

Your token:

#{@token}

Include this token as the api_token parameter (or X-Api-Token header) on your API requests.

Now that it's approved, if you need to regenerate it, you can do so at http://pinballmap.com/api_token
