.left_column
  %span.yellowb Iowa Pinball Links:
  %br/
  %br/
  =link_to 'Iowa Pinball Club', 'http://iowapinballclub.com/', :class => 'light_blue', :target => '_blank'
  %br/
  %span.regular_text The Iowa Pinball Club is active in many parts of the state. Check them out for new, updates, and activities.
  %br/
.right_column.secondary
  =link_to image_tag('iowa/iowa-pinball-club-logo.png'), 'http://iowapinballclub.com/', :alt => 'Duke City Pinball', :target => '_blank'