- content_for :presearch_sidebar do
  %p.regular_text 
    The
    =link_to 'Iowa Pinball Club', 'http://iowapinballclub.com/', :class => 'light_blue', :target => '_blank' 
    supports and maintains this map.
  = image_tag 'iowa/iowa-pinball-club-logo.png', :style => 'margin-left:16%;'
= render :file => 'pages/region'
