- content_for :presearch_sidebar do
  %p
    = link_to 'Connect to other players in town through the 904 Pinball Zine', 'http://www.facebook.com/groups/204737299539297/', :target => '_blank'
= render :template => 'pages/region'
