default: &default
  adapter: postgresql
  encoding: utf8
  database: pbm_dev
  template: template0

development:
  <<: *default
  database: pbm_dev
  host: localhost

test:
  <<: *default
  database: pbm_test
