- content_for :presearch_sidebar do
  = image_tag 'champaign/ipa-logo.jpg', :style => 'margin-left:9%;'
  %br/
  %p 
    This regional map is maintained with the help of the
    =link_to 'Illini Pinball Association', 'http://illinipinball.org', :target => '_blank'
= render :file => 'pages/region'
