- content_for :presearch_sidebar do
  %p.local_logo
    =link_to image_tag('champaign/ipa-logo.jpg'), 'http://illinipinball.com', :target => '_blank'
    %br/
    %br/
    This regional map is maintained with the help of the
    =link_to 'Illini Pinball Association', 'http://illinipinball.com', :target => '_blank'
= render :file => 'pages/region'
