%select{:name => "#{object_type}[location_id]"}
  - Location.all.select {|l| l.region_id == Authorization.current_user.region_id}.each do |l|
    <option value="#{l.id}" #{l.id == location_id ? 'selected=select' : ''} >#{l.name}</option>
