var map_style_obj={
    "version": 8,
    "sources": {
        "protomaps": {
            "type": "vector",
            "attribution": "<a href=\"https://github.com/protomaps/basemaps\">Protomaps</a> © <a href=\"https://openstreetmap.org\">OpenStreetMap</a>",
            "url": "<%= ENV['PMTILES_URL'] %>",
        }
    },
    "layers": basemaps.layers("protomaps",basemaps.namedFlavor("light"),{lang:"en"}),
    "glyphs":"<%= ENV['PMTILES_GLYPHS'] %>",
    "sprite":"<%= ENV['PMTILES_SPRITE'] %>/light"
}
