%div.bold.font20.center.p_10.brightpurple
  High Scores
%div[lmx, :score_container]
  %div[lmx, :show_scores]
    - if lmx.machine_score_xrefs.empty?
      %div.grey.center No scores yet
    - else
      = render :partial => 'locations/render_scores', :locals => {:lmx => lmx}
