%div.bold.font20.center.p_10.brightpurple
  High Scores
%div[lmx, :score_container]
  %div[lmx, :show_scores]
    - if lmx.sorted_machine_scores.empty?
      %div.grey.center No scores yet
    - else
      = render :partial => 'location_machine_xrefs/render_machine_scores', :locals => {:scores => lmx.sorted_machine_scores, :lmx => lmx}
