.left_column
  %span.yellowb Austin Pinball Links:
  %br/
  %br/
  %span.regular_text
  =link_to 'Pinballer.org', 'http://pinballer.org', :class => 'light_blue', :target => '_blank'
  %br/
  %span.regular_text He's the main dude who maintains the data on this site. Check out his blog! 
  %br/
  %br/
  =link_to 'Pinballz Arcade', 'http://www.pinballzarcade.com/', :class => 'light_blue', :target => '_blank'
  %br/
  %span.regular_text Arcade with a shitload of games.
  
