.text_column
  %p.regular_text
    %span Hi, welcome to 
    %span.intro pinballmachine.org! 
    %span This site lists all the pinball machines in the 
    %span.intro Bay Area (San Francisco)
    %span region. This data is kept up to date by YOU (and you and you, too). So please use the features on the site to add/remove machines from locations, and to add new locations to the map. You can also add photos of the locations, so that people can get a better idea of what the place is like.
  %p.regular_text 
    %span Check out the official blog of
    = link_to 'pinballmachine.org', 'http://pinballbayarea.wordpress.com/', :class => 'yellowb', :target => '_blank'
  %p.regular_text
    %span As you probably noticed, 
    %span.intro pinballmachine.org's
    %span data is kept on 
    %span.intro pinballmap.com/bayarea. 
    %span.intro pinballmap.com
    %span was developed by Scott and Ryan from the 
    = link_to 'Portland Pinball Map.', "http://pinballmap.com/portland", :class => 'yellowb'
    %span If you live in a region with pinball and have some hot data to back it up, and would like to have your region covered with a map site like this, please 
    = link_to 'contact us.', 'http://pinballmap.com/portland/contact'
.right_column.secondary
  = image_tag 'bayarea/bayarea_playland.jpg', :class => 'photo_image'
