.left_column
  %span.regular_text Links:
  %br/
  %br/
  = link_to 'Check out the official blog of this site!', "http://pinballbayarea.wordpress.com/", :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  = link_to 'Pacific Pinball Museum', "http://www.pacificpinball.org/", :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  =link_to image_tag('/assets/twitter-icon.png'), 'http://www.twitter.com/pinballbayarea', :target => '_blank'
  =link_to 'Bay Area Pinball Twitter', 'http://www.twitter.com/pinballbayarea', :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  =link_to 'Capital Corridor Pinball League', 'http://capitolcorridor.pinballleague.com/homepage.html', :class => 'light_blue', :target => '_blank'
.right_column.secondary
  = image_tag "/assets/bayarea/bayarea_PPE.jpg", :class => 'photo_image'
