.text-col
  %span.yellow Fat Links:
  %br/
  %br/
  = link_to 'Official blog of pinballmachine.org!', "http://pinballbayarea.wordpress.com/", :class => 'light-blue'
  %br/
  %br/
  = link_to 'Pacific Pinball Museum', "http://www.pacificpinball.org/", :class => 'light-blue'
.right_column
  = image_tag "bayarea/bayarea_PPE.jpg", :class => 'photo_image'
