.text_column
  %span.regular_text Fat Links:
  %br/
  %br/
  = link_to 'Official blog of pinballmachine.org!', "http://pinballbayarea.wordpress.com/", :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  = link_to 'Pacific Pinball Museum', "http://www.pacificpinball.org/", :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/pinballbayarea', :target => '_blank'
  =link_to 'Bay Area Pinball Twitter', 'http://www.twitter.com/pinballbayarea', :class => 'light_blue', :target => '_blank'
.right_column
  = image_tag "bayarea/bayarea_PPE.jpg", :class => 'photo_image'
