- content_for :presearch_sidebar do
  %p.local_logo
    = image_tag 'bayarea/bayarea_pinball.png'
    %br/
    %br/
    = link_to 'Check out the official blog of the Bay Area Pinball Map!', "http://pinballbayarea.wordpress.com/", :target => '_blank'
= render :template => 'pages/region'
