- content_for :presearch_sidebar do
  %p.local_logo
    = image_tag 'bayarea/bayarea_pinball.png'
    %br/
    %br/
    = link_to 'Check out the official blog of the Bay Area Pinball Map!', "http://pinballbayarea.wordpress.com/", :target => '_blank'
    %br/
    %br/
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/pinballbayarea', :target => '_blank'
    =link_to 'Follow @pinballbayarea on Twitter for map updates and news', 'http://www.twitter.com/pinballbayarea', :target => '_blank'
= render :template => 'pages/region'
