- content_for :presearch_sidebar do
  = image_tag 'bayarea/bayarea_pinball.png', :style => 'margin-left:9%;'
  %p
    = link_to 'Check out the official blog of this site!', "http://pinballbayarea.wordpress.com/", :target => '_blank'
    %br/
    %br/
    =link_to image_tag('twitter-icon.png'), 'http://www.twitter.com/pinballbayarea', :target => '_blank'
    =link_to 'Follow us on twitter for map updates and news', 'http://www.twitter.com/pinballbayarea', :target => '_blank'
= render :file => 'pages/region'
