@media (max-width: 767px) { 

  #form {
    left: 291px;
  }
  #lookup, .scrollerWrapper {
    left: 296px;
    float: left;
  }
}

@media (max-width: 965px) {

    .pintips, .machine_condition_display_lmx, .machine_condition_edit_lmx, 
    .high_score > .sub_nav_item, .score_container_lmx > .sub_nav_item,
    .add_scores_form, .show_scores_lmx, .show_conditions_lmx, .show_conditions_lmx_toggle
    { width: 285px;}

    #lookup, .show_location_detail_location, #location_maker ul, .score_result .sub_nav_item
    { width: 430px;}

    #form { width: 456px;}

    #operator_section_link, #zone_section_link, #machine_section_link, #city_section_link, #location_section_link, #type_section_link
    { margin-left: -5px; }

    #by_type_id, #by_operator_id, #by_location_id, #by_machine_id, #by_zone_id, #by_city_id
    { width: 145px; }

    #form input.lookup_search_input
    { width: 200px; }

    .machine_name 
    { width: 305px; }

    .machine_condition_display_lmx .edit_mode
    { width: 261px;
      max-width: 261px;
      min-width: 261px; 
    }
    #map {
      right: 470px;
    }
}

@media (max-width: 865px) {
  .closest_locations {
    display:none;
  }
  .login_home {
    font-size: 12px;
    width: 75px;
    margin-top: 0;
    line-height: 18px;
    padding: 3px;
    text-align: center;
  }
}

@media (max-width: 965px) { 

  #header span.menu_link {
    line-height: 51px;
    width: 45px !important;
    font-size: 14px !important;
    border-right: 4px solid #D6C0AA;
    border-bottom: 4px solid #D6C0AA;
  }
  #header span.menu_link ul li a {
    height: auto;
    line-height: 14px;
  }
  #header span.menu_link ul {
    width: 120px;
    background-color: #EBEAE9;
    margin-bottom: 0;
  }
}

@media (max-width: 950px) {

  .left_column.secondary, .left_column_outer, .left_column {
    float: none;
    margin: 70px auto 10px;
  }
  .left_column_about {
    float: none;
  }
  .right_column, #right_column, .right_column.secondary, .right_column_outer {
    margin: 0 auto;
    display: block;
    float: none;
    clear: both;
  }

}

@media (max-width: 1120px) {
  div.pick_a_map .apps_header, div.pick_a_map .blog_header, 
  div.pick_a_map .store_header, div.pick_a_map .geo_header {
    font-size: 12px;
    line-height: 11px;
    border-right: 2px solid #d6c0aa;
    border-bottom: 2px solid #d6c0aa;
    border-top: none;
  }
  div.pick_a_map .geo_header {
    float: left;
    padding: 6px 5px;
    margin: 0 4px 0 0;
    border-left: none;
  }
  div.pick_a_map .geo_header {
    border-left: 5px solid #D6C0AA !important;
    border-right: 5px solid #D6C0AA !important;
  }
}

@media (max-width: 1065px) {
  .login_region {
    font-size: 12px;
    width: 75px;
    margin-top: 0;
    line-height: 23px;
    padding: 3px;
    text-align: center;
    border: 4px solid #D6C0AA;
  }
}

@media (max-width: 1220px) { 
  .closest_locations {
    font-size: 11px;
    width: 75px;
    margin-top: 0;
    line-height: 13px;
    padding: 6px 6px;
    text-align: center;
  }
}

@media (max-width: 1055px) {

  .blog_header_region {
    display: none;
  }
}
