@media (max-width: 965px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

    .pintips, .machine_condition_display_lmx, .machine_condition_edit_lmx,
    .high_score > .sub_nav_item, .score_container_lmx > .sub_nav_item,
    .add_scores_form, .show_scores_lmx, .show_conditions_lmx, .show_conditions_lmx_toggle,
    .location_detail input.remove_machine_button {
      width: 400px;
    }
    .location_search .info {
      font-size: 11px;
      margin: 0 2px;
    }
    #lookup, #location_maker ul {
      width: 470px;
    }
    .location_thumbs a {
      width: 180px;
      height: 180px;
    }
    .show_location_detail_location {
      width: 450px;
    }
    #form {
      width: 470px;
    }
    input#score, input#initials {
      width: 290px;
    }
    #operator_section_link, #zone_section_link, #machine_section_link, #city_section_link, #location_section_link, #type_section_link {
      margin-left: 2px;
      font-size: 13px;
      line-height: 13px;
      font-weight: normal;
    }
    #other_search_options {
      width: 460px;
    }
    #by_type_id, #by_operator_id, #by_zone_id, #by_city_id {
      width: 155px;
    }
    form select#by_location_id, form select#by_machine_id {
      width: 145px;
    }
    span.or {
      width: 17px;
    }
    #form input.lookup_search_input {
      width: 200px;
    }
    #form #address_search_form input.lookup_search_input {
      width: 280px;
    }
    .toggle_btn_reg {
      left: 480px !important;
    }
    .toggle_min_lookup {
      margin-left: -480px !important;
    }
    .machine_name {
      margin-left: -10px;
    }
    .machine_names {
      padding: 0 0 10px 0px !important;
    }
    .search_result ul li.machine_names {
      padding: 0 0 10px 10px !important;
    }
    div.machine_condition_text {
      width: 350px;
    }
    .machine_condition_display_lmx .edit_mode
    {
      width: 340px;
      max-width: 340px;
      min-width: 340px;
    }
    li.address_full, a.website, li.phone {
      width: auto;
    }
    .search_field_container {
      width: 290px;
    }
    .lookup_search_select,
    .lookup_search_input {
      width: 350px;
    }
    .new_location_picture_xref input.submit_picture {
      margin-top: 10px;
    }
    #add {
      margin-left: 10px;
    }
    div.comment_image span.comment_image:hover:after {
      margin-left: -50px;

    }
    .confirm_inner,
    .confirm_location {
      padding-right: 20px;
    }
    #location_maker .first {
      float: none;
    }
    #location_maker li textarea {
      height: 50px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      max-height: 50px;
      margin: 0;
    }
    #location_maker li select {
      width: 100%;
    }
    .first {
      margin-right: 0;
    }
    #location_maker input.text, #contact_maker input.text {
      width: 100%;
    }
    #location_maker ul, #location_maker ul li {
      padding-left: 0;
    }
}

@media (max-width: 1800px) {
  .div_03 {
    display: none;
  }
}

@media (max-width: 1500px) {
  #region_map {
    width: 530px;
    height: 450px;
  }
  .div_02 {
    width: 530px;
  }
}

@media (max-width: 1300px) {
  .div_01 {
    width: 300px;
  }
  .home_intro {
    margin: 0 0 0 10px;
    padding: 3px 0 0;
  }
  .div_01 p, .div_01 .darkb, .div_01b p {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1180px) {
  .div_01b {
    display: none;
  }
  .div_01 {
    width: 450px;
  }
  .div_01 p, .div_01 .darkb {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 875px) {
  #region_map {
    width: 420px;
    height: 450px;
  }
  .div_02 {
    width: 420px;
  }
  .header_menu_02 {
    display: none;
  }
  #header .menu_link ul li.menu_header_02 {
    display: block;
  }
  .header_buttons_child.header_menu_02 {
    width: 0;
  }
}

@media (max-width: 980px) {
  .header_menu_01 {
    display: none;
  }
  #header .menu_link ul li.menu_header_01 {
    display: block;
  }
  .header_buttons_child.header_menu_01 {
    width: 0;
  }
}

@media (max-width: 1095px) {
  .header_buttons_child {
    width: 95px;
  }
}

@media (max-width: 740px) {
  #region_map {
    width: auto;
    height: 450px;
    margin: 10px;
  }
  .div_02 {
    width: 100%;
  }
  .div_01 {
    width: 100%;
    height: auto;
  }
  .div_01 p, .div_01 .darkb {
    font-size: 14px;
    line-height: 16px;
  }
  .home_intro {
    height: auto;
  }
}

@media (max-width: 740px) {
  .header_menu_02 {
    display: none;
  }
  .header_buttons_child.header_menu_02 {
    width: 0;
  }
}
@media (max-width: 960px) {
  .column.suggest {
    display:                 flex;
    display:                 -webkit-flex; /* Safari 8 */
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;       /* Safari 8 */
    float: none;
  }
  #header .login_home {
    width: 40px;
  }
  .login_home a.loggedin {
    font-size: 15px;
  }
  .login_home a {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    text-align: center;
  }
  .login_home {
    margin-top: -2px !important;
    width: 60px;
    padding: 0;
    line-height: 19px;
    text-align: center;
    border: none;
  }
  .blog_header_region {
    display: none;
  }
  .login_region a, .login_home a {
    font-size: 14px;
    padding: 0;
    text-align: center;
  }
}

@media print {
  .page_home, .flier_desc {
    display: none !important;
  }
}
