@media (max-width: 650px) {

#container {
  width: 600px;
  margin: -20px auto 20px auto;
}

#header {
  width: 600px;
  height: 120px;
}

#header a img {
  float: none;
}

#header ul {
  margin: 5px auto;
  width: 550px;
  font-size: 12px;
}

#lookup, .left_column, #left_column {
  float: none;
  margin: 20px auto;
}

#map, .right_column, #right_column {
  margin: 20px auto;
  width: 500px;
  height: 550px;
}

.home_intro {
  width: 550px;
  margin: 5px auto;
}

div.pick_a_map {
  top: 82px;
  float: none;
  margin-left: 180px;
}

#map_summaries {
  padding-left: 80px;
}

.scrollerWrapper {
  display: none;
}

}