@media (max-width: 767px) { 

  #form {
    left: 291px;
  }
  #lookup, .scrollerWrapper {
    left: 296px;
    float: left;
  }
}

@media (max-width: 965px) {

    .pintips, .machine_condition_display_lmx, .machine_condition_edit_lmx, 
    .high_score > .sub_nav_item, .score_container_lmx > .sub_nav_item,
    .add_scores_form, .show_scores_lmx, .show_conditions_lmx, .show_conditions_lmx_toggle,
    .location_detail input.remove_machine_button { 
      width: 360px;
    }

    #lookup, .show_location_detail_location, #location_maker ul, .score_result .sub_nav_item { 
      width: 430px;
    }

    #form { 
      width: 456px;
    }
    input#score, input#initials {
      width: 290px;
    }

    #operator_section_link, #zone_section_link, #machine_section_link, #city_section_link, #location_section_link, #type_section_link { 
      margin-left: 2px;
      font-size: 17px; 
    }

    #by_type_id, #by_operator_id, #by_location_id, #by_machine_id, #by_zone_id, #by_city_id { 
      width: 145px; 
    }

    #form input.lookup_search_input { 
      width: 200px; 
    }

    .machine_name { 
      width: 380px; 
    }
    div.machine_condition_text {
      width: 300px;
    }

    .machine_condition_display_lmx .edit_mode
    { 
      width: 300px;
      max-width: 300px;
      min-width: 300px; 
    }
    #map {
      right: 470px;
    }

    li.address_full, a.website, li.phone {
      width: auto;
    }
    .search_field_container {
      width: 290px;
    }
    .lookup_search_select,
    .lookup_search_input {
      width: 350px;
    }
    .new_location_picture_xref input.submit_picture {
      margin-top: 10px;
    }
    #add {
      margin-left: 10px;
    }
    div.comment_image span.comment_image:hover:after {
      margin-left: -140px;
    }
    .confirm_location {
      width: 402px;
    }
    .confirm_inner {
      width: 400px;
    }
    #location_maker .first {
      float: none;
    }
    #location_maker textarea.machines {
      height: 50px;
      width: 300px;
      max-width: 300px;
      min-width: 300px;
      max-height: 200px;
      margin: 0;
}
}

@media (max-width: 865px) {
  .closest_locations {
    display:none;
  }
}

@media (max-width: 900px) {
  .login_home a.loggedin {
    font-size: 15px;
  }
  .login_home a {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    text-align: center;
  }
  .login_home {
    margin-top: 0px;
    width: 60px;
    padding: 0;
    line-height: 19px;
    text-align: center;
    border: none;
  }
  .login_home .login_slash {
    display: none;
  }
  .geo_header {
    font-size: 12px;
    width: 85px;
    margin-top: 8px;
    line-height: 13px;
    padding: 3px 4px 4px;
    text-align: center;
  }
}

@media (max-width: 950px) {

  .left_column.secondary, .left_column_outer, .left_column {
    float: none;
    margin: 0px auto 10px;
    padding: 1px 10px 10px;
    min-height: auto;
  }
  .left_column_about {
    float: none;
    padding: 10px;
  }
  .right_column, #right_column, .right_column.secondary, .right_column_outer {
    margin: 0 auto 10px;
    display: block;
    float: none;
    clear: both;
    min-height: auto;
    width: 475px;
  }
  .right_column_outer .links_column {
    width: 450px;
  }
  .event_column {
    width: 395px;
  }
}

@media (max-width: 1055px) {

  .blog_header_region {
    display: none;
  }
}

@media (max-width: 1085px) {
  .login_region a.loggedin {
    font-size: 15px;
  }
  .login_region a {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    text-align: center;
  }
  .login_region {
    margin-top: 0px;
    width: 60px;
    padding: 0;
    line-height: 19px;
    text-align: center;
    border: none;
  }
  .login_region .login_slash {
    display: none;
  }
  .closest_locations {
    font-size: 11px;
    width: 75px;
    margin-top: 0;
    line-height: 13px;
    padding: 3px 4px 4px;
    text-align: center;
  }
}

