@media (max-width: 1090px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  #lookup,
  #location_maker ul {
    width: 470px;
  }

  #form {
    width: 470px;
  }

  #map {
    left: 0;
  }

  #map_canvas {
    margin-left: 470px;
  }

  input.score {
    width: 290px;
  }

  .toggle_btn_reg {
    left: 480px !important;
  }

  div.machine_condition_text {
    width: 350px;
  }

  .machine_condition_display_lmx .edit_mode {
    width: 340px;
    max-width: 340px;
    min-width: 340px;
  }

  .lookup_search_select,
  .lookup_search_input {
    width: 350px;
  }

  .new_location_picture_xref input.submit_picture {
    margin-top: 10px;
  }

  #add {
    margin-left: 10px;
  }

  .confirm_inner,
  .confirm_location {
    padding-right: 20px;
  }

  #location_maker .first {
    float: none;
  }

  #location_maker li textarea {
    height: 50px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 50px;
    margin: 0;
  }

  #location_maker li select {
    width: 100%;
  }

  .first {
    margin-right: 0;
  }

  #location_maker input.text,
  #contact_maker input.text {
    width: 100%;
  }

  #location_maker ul,
  #location_maker ul li {
    padding-left: 0;
  }

  div.maplibregl-ctrl-top-left {
    left: 0% !important;
  }

  div.maplibregl-ctrl-bottom-right {
    right: 0% !important;
  }
}

@media (max-width: 1295px) {
  .header_buttons_child {
    width: 89px;
  }
}

@media (min-width: 1555px) {

  #lookup,
  #form {
    width: 640px;
  }

  #map {
    left: 0;
  }

  #map_canvas {
    margin-left: 640px;
  }

  .toggle_btn_reg {
    left: 650px;
  }
}

@media (max-width: 1555px) {
  .maplibregl-ctrl-top-left {
    left: 30% !important;
  }

  .maplibregl-ctrl-bottom-right {
    right: 30% !important;
  }
}

@media (max-width: 1180px) {

  #operator_section_link,
  #zone_section_link,
  #machine_section_link,
  #city_section_link,
  #location_section_link,
  #type_section_link {
    margin-left: 2px;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
  }

  #by_type_id,
  #by_operator_id,
  #by_zone_id,
  #by_city_id {
    width: 34%;
    font-size: 14px;
  }

  .location_search .info {
    font-size: 10px;
  }
}

@media (max-width: 1080px) {
  .header_menu_02.header_menu_region {
    display: none;
  }

  #header ul li.menu_header_02 {
    display: block;
  }

  .header_buttons_child.header_menu_02.header_menu_region {
    width: 0;
  }
}

@media (max-width: 960px) {
  .column.suggest {
    display: flex;
    display: -webkit-flex;
    /* Safari 8 */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /* Safari 8 */
    justify-content: center;
    -webkit-justify-content: center;
    /* Safari 8 */
    float: none;
  }

  #header .login_home {
    width: 40px;
  }

  .login_home a.loggedin {
    font-size: 15px;
  }

  .login_home a {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    text-align: center;
  }

  .login_home {
    margin-top: -2px !important;
    width: 60px;
    padding: 0;
    line-height: 19px;
    text-align: center;
    border: none;
  }

  .blog_header_region {
    display: none;
  }

  .login_region a,
  .login_home a {
    font-size: 14px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 885px) {
  .header_menu_03 {
    display: none;
  }

  #header ul li.menu_header_03 {
    display: block;
  }

  .header_buttons_child.header_menu_03 {
    width: 0;
  }
}

@media (max-width: 850px) {

  .header_menu_01,
  .header_menu_02 {
    display: none;
  }

  #header ul li.menu_header_01,
  #header ul li.menu_header_02 {
    display: block;
  }

  .header_buttons_child.header_menu_01,
  .header_buttons_child.header_menu_02 {
    width: 0;
  }
}

@media print {

  .page_home,
  .flier_desc {
    display: none !important;
  }
}