- if (!lmx.machine.kineticist_url.blank?)
  .external_machine_link
    =link_to image_tag( 'kineticist_sm.png', :alt => 'Kineticist Logo', :class => 'kineticist_icon'), "#{lmx.machine.kineticist_url}", :target => '_blank'
