- if (!lmx.machine.kineticist_url.blank?)
  .external_machine_link
    = link_to "Kineticist", "#{lmx.machine.kineticist_url}", :target => '_blank'
    =link_to image_tag( 'kineticist.png', :alt => 'Kineticist Logo', :class => 'kineticist_icon'), "#{lmx.machine.kineticist_url}", :target => '_blank'
