%span.life_list_indicator{:id => "life_list_indicator_lmx_#{lmx.id}", :class => ('hidden' unless in_life_list)}
  =image_tag('icons/clipboard-list-outline-light.svg', alt: 'Machine in your Life List')
%span.life_list_indicator_tooltip
  Machine in your Life List
