%div.machine_name_container
  %span{:class => ["bold sans font22 machine_name", ("w_100" unless user_signed_in?)]}
    #{lmx.machine.name}
    %span.machine_year_man #{lmx.machine.year_and_manufacturer}
  - if user_signed_in?
    = render :partial => 'location_machine_xrefs/remove_machine', :locals => {:lmx => lmx}
