%div.machine_icons_container
  = render :partial => 'location_machine_xrefs/life_list_indicator', :locals => {:lmx => lmx, :in_life_list => in_life_list}
  = render :partial => 'location_machine_xrefs/remove_machine', :locals => {:lmx => lmx}
