=link_to image_tag( 'matchplay_dark.png', :alt => 'Matchplay', :class => 'matchplay_icon matchplay_dark'), "https://app.matchplay.events/opdb/entries/#{lmx.machine.opdb_id}", :target => '_blank'
=link_to image_tag( 'matchplay_light.png', :alt => 'Matchplay', :class => 'matchplay_icon matchplay_light'), "https://app.matchplay.events/opdb/entries/#{lmx.machine.opdb_id}", :target => '_blank'
