- if (!lmx.machine.opdb_id.blank?)
  .external_machine_link
    = link_to "View playing tips on PinTips", "http://pintips.net/opdb/#{lmx.machine.opdb_id}", :target => '_blank'
    =image_tag( 'open-in-new-black.png', :alt => 'open in new window', :class => 'external_machine_link_icon')
