<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><strong>If the above link is... not a link, then your mail provider (such as gmail) has stripped it out! You can still find the link by clicking a three-dot "more" menu and choosing "Show original". Then scroll down to the bottom and you'll see the link.</strong></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
