.left_column.secondary
  = link_to "Click here for VRPA's nice links page, for all your linking needs", 'http://vrpa.ca/links.cfm', :class => 'light_blue', :target => '_blank'
  %br/
  %br/
  %br/
  %br/
  = image_tag '/assets/bc/bc-links.jpg'
.right_column.secondary
  = image_tag '/assets/bc/bc-links-2.jpg'
