.text_col
  = link_to "Click here for VRPA's nice links page, for all your linking needs", 'http://vrpa.ca/links.cfm', :class => 'yellow'
  %br/
  %br/
  %br/
  %br/
  = image_tag 'bc/bc-links-2.jpg'
.right_column
  = image_tag 'bc/bc-links.jpg'
