- content_for :presearch_sidebar do
  %span{:style => 'margin-left:20px;'}
    = image_tag 'seattle/SPL_Batman.jpg'
    %br/
    %span.photo_caption{:style => 'margin-left:20px;'} photo by
    =link_to 'Cheeseboat', 'http://www.flickr.com/photos/evilbot5000/', :class => 'light_blue'
= render :file => 'pages/region'
