- content_for :presearch_sidebar do
  %span{:style => 'margin-left:15%;'}
    = image_tag 'seattle/SPL_Batman.jpg'
    %br/
    %span.photo_caption{:style => 'margin-left:15%;'} photo by
    =link_to 'Cheeseboat', 'http://www.flickr.com/photos/evilbot5000/', :class => 'light_blue', :target => '_blank'
= render :file => 'pages/region'
