- content_for :presearch_sidebar do
  = image_tag 'seattle/SPL_Batman.jpg'
  %br/
  %span.photo_caption photo by
  =link_to 'Cheeseboat', 'http://www.flickr.com/photos/evilbot5000/', :class => 'light_blue'
= render :file => 'pages/region'
