<% if (@locations) %>
<table>
<% @locations.each do |location| %>
  <tr>
  <td><a onclick="showLocation(<%= location.lat %>, <%= location.lon %>);"><%= [location.name, location.street, location.city].join(' | ') %></a></td>
  </tr>
  <%= will_paginate @locations %>
<% end %>
</table>
<% end %>
