<% if (@locations) %>
<table>
<% @locations.each do |l| %>
  <tr>
  <td><a onclick="showLocation(<%= l.lat %>, <%= l.lon %>);"><%= [l.name, l.street, l.city, l.machine_names].join(' | ') %></a></td>
  </tr>
  <%= will_paginate @locations %>
<% end %>
</table>
<% end %>
