#map_canvas
  .mask
    - unless current_page?(operators_path)
      .closest_button.bold
        %span{:onclick => "findClosestLocations('#{@region ? @region.name : 'map'}')"}
          = link_to 'Click here to find the closest pinball machines!', '#', {:id => 'find_closest_locations'}
        - if mobile_device?
          %div.search_modal{:onclick => "showSearchModal();"}
            Or Search.
        - else
          Or Search.
