#map_canvas

- lat = local_assigns.has_key?(:lat) ? lat : @region.lat
- lon = local_assigns.has_key?(:lon) ? lon : @region.lon

:javascript
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2NvdHR3YWluc3RvY2siLCJhIjoiY2pscTBwb2V5MGxtdjN3bnZmNTluOTl4aiJ9.LLiB40caxstM1RxyfD1G-w';
  map = new mapboxgl.Map({
    container: 'map_canvas',
    style: 'mapbox://styles/ryantg/cjlsma1tr02ck2rt5s8ovaokv',
    center: [#{lon}, #{lat}],
    zoom: 12
  });
  map.addControl(new mapboxgl.NavigationControl(), 'top-right');
