#map_canvas

:javascript
  map = new google.maps.Map(document.getElementById("map_canvas"), {
    center: {lat: #{@region.lat}, lng: #{@region.lon}},
    zoom: 12,
    gestureHandling: 'greedy',
    styles: homeMap
  });
