#map_canvas
  = render :partial => 'pages/intro'
:javascript
  map = new google.maps.Map(document.getElementById("map_canvas"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: {lat: #{@region.lat}, lng: #{@region.lon}},
    zoom: 12
  });
