#map_canvas

- lat = local_assigns.has_key?(:lat) ? lat : @region.lat
- lon = local_assigns.has_key?(:lon) ? lon : @region.lon

:javascript
  map = new google.maps.Map(document.getElementById("map_canvas"), {
    center: {lat: #{lat}, lng: #{lon}},
    zoom: 12,
    gestureHandling: 'greedy',
    styles: homeMap
  });
