#map_canvas

- lat = local_assigns.has_key?(:lat) ? lat : @region.lat
- lon = local_assigns.has_key?(:lon) ? lon : @region.lon

:javascript
  map = new mapboxgl.Map({
    container: 'map_canvas',
    style: 'https://maps.tilehosting.com/styles/basic/style.json?key=#{ENV["MAPTILER_API_KEY"]}',
    center: [#{lon}, #{lat}],
    zoom: 12
  });
  map.addControl(new mapboxgl.NavigationControl(), 'top-right');
