#map_canvas

- lat = local_assigns.has_key?(:lat) ? lat : @region.lat
- lon = local_assigns.has_key?(:lon) ? lon : @region.lon

:javascript
  api_key = 'pk.eyJ1IjoicnlhbnRnIiwiYSI6ImNqbHNtNTJ5azAweHoza3BiajV2eGQ5OHgifQ.9kvE_xb8x9sq_n8PL6Cj3w';
  mapboxgl.accessToken = api_key;

  map = new mapboxgl.Map({
    container: 'map_canvas',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [#{lon}, #{lat}],
    zoom: 12
  });
  map.addControl(new mapboxgl.NavigationControl(), 'top-right');
