- machine_count = location.machine_names.size
%div{:id => "show_machines_location_count_#{location.id}", :class => 'black p_10 font18 center lmx_count'}
  #{machine_count}
  - if machine_count == 1
    machine
  - else
    machines
