- icon_path = image_tag('machine-pink.png', :alt => 'Recent Activity Icon', :class => 'banner_icon former_machines')
= banner('former_machines_location', 'Former machines', icon_path, location)
%div[location, :former_machines]{:style => 'display:none;'}
  %span.font16.center.block.mb_20.mt_20 Machines that used to be here
  - location.former_machines.each do |former_machines|
    %div.recent_activity_container{:style => 'padding-left: 20px;'}
      %div.recent_activity_submission.font18.bold.brightpurple #{former_machines.machine_name}
      %div.former_machines_date.font14
        Removed on
        %br/
        #{former_machines.created_at.strftime("%b %d, %Y")}
