%div.quick_button_content_header Former Machines (max of 30)
- l.former_machines.each do |former_machines|
  %div.recent_activity_container{:style => 'padding-left: 20px;'}
    %div.recent_activity_submission.font16.bold #{former_machines.machine_name}
    %div.former_machines_date.font14
      Removed on
      %br/
      #{former_machines.created_at.strftime("%b %d, %Y")}
