- conditions.collect! do |mcx|
  %div.machine_condition_new_line
    %span{:style => "display:block;"}= "#{mcx.created_at ? mcx.created_at.strftime("%m-%d-%Y") : ''}"
    %span{:style => "display:block;"}= "#{mcx.comment}"
