%div[location, :show_machines]

:javascript
  $(function() {
    $('#show_machines_location_#{location.id}').html(loadingHTML());
    $.get('/locations/#{location.id}/render_machines?' + machineSortQueryParam(), function(data) {
      $('#show_machines_location_#{location.id}').html(data);
    });
  });

