%iframe{:src => 'http://cryptic-spire-8805.herokuapp.com/', :position => 'absolute', top:0, :left => 0, :right => 0, :bottom => 0, :scrolling => 'no', :frameborder => 0, :margin => 0, :border => 0, :width => '100%', :height => '100%', }

%style(type="text/css")
  body {margin:0;}
