%div[location, :add_picture]{:style => 'display:none;'}

:javascript
  $(function() {
    $('#add_picture_location_banner_#{location.id}').click(function () {
      $('#add_picture_location_#{location.id}').html(loadingHTML());
      $('#add_picture_location_#{location.id}').load('/location_picture_xrefs/#{location.id}/form');
    });
  });

