- location_picture_xrefs.each do |lpx|
  - if (lpx.photo? && lpx.approved?)
    = link_to image_tag(lpx.photo.url(:thumb)), lpx.photo.url(:medium), :class => "location_picture_xref_#{lpx.id} highslide", :onclick => 'return hs.expand(this);'
